<div >
    <h4 class="py-3">Báo cáo chi tiết tồn kho:</h4>
    <div class="row">

        <div class="row">
          <hr>
          <span class="fw-bold mb-3">Báo cáo chi tiết theo:</span>
          <div class="col-3 pe-4">
            <span > Kho</span>
            <select class="custom-select"[(ngModel)]="isWareHouse" (change)="filterData()" >
              <option value="0" selected>Tất cả</option>
              <option *ngFor="let item of listWareHouse" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div>
          <div class="col-3 pe-4">
            <span > Sản phẩm</span>
             <select class="custom-select"[(ngModel)]="isProduct" (change)="filterData()" >
              <option value="0" selected>Tất cả</option>
              <option *ngFor="let item of listProduct" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div>
        </div>
          
        <div class="body-table">
          
          <table class=" w-100  ">
            <thead class="table-head" >
              <tr>
                <th rowspan="2" style="width: 50px;" >STT</th>
                <th rowspan="2">Kho</th>
      
                <th rowspan="2">Sản phẩm</th>
              
                <th colspan="2">Số lượng</th>
     
             
              </tr>
              <tr>
                <th>Bao</th>
                <th>Tấn</th>
              </tr>
          
            </thead>
            <tbody  *ngFor="let arr of dataInventoryConvert|keyvalue">
                    <tr *ngFor="let item of dataInventoryConvert[arr.key];let i = index" [ngStyle]="{'background-color':item.product == undefined ? 'silver' : '' }">
                      <td >{{i+1}}</td>
                      <td >{{item.wareHouseGroup}}</td>
                      <td >{{item.product}}</td>
                      <td >{{item.amount}}</td>
                      <td >{{item.amount}}</td>
                    
                    
                    </tr>
                   
            </tbody>
          
          </table>
           
        </div>

    </div>

    
</div>

