<div class="configuration">
  <div class="configuration__content__title d-flex" style='justify-content: space-between;'>
    <div>
      Danh mục Thiết bị
    </div>
    <img src="/assets/svg/add.svg" alt="" class='icon-add' (click)='showPopupAdd()'>
  </div>
  <div class="configuration__content__body" style='margin-top: var(--padding);'>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã Thiết bị</th>
          <th>Tên Thiết bị</th>
          <th>Mô tả</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of listDevice;let i = index'>
          <td style='width: 80px;'>{{i+1}}</td>
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{item.des}}</td>

          <td style='width: 150px;text-align: center;'>
          
            <!-- <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'>  -->
             <!-- btn  edit  -->
            <img src="/assets/svg/delete.svg" alt="" class='icon-update-table' (click)="getInforDelete(item)"> <!-- btn  delete  -->
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<dx-popup class="row" [(visible)]="popAddDevice" [closeOnOutsideClick]="false" height="300" width="500"  [showCloseButton]="false"
  [showTitle]="true" title="Thêm mới Thiết bị" [resizeEnabled]="true">
  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 110px;" >Mã Thiết bị</span>
    <input type="text" class="form-control" placeholder="Nhập mã Thiết bị" [(ngModel)]="newDevice.code">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 110px;" >Tên Thiết bị</span>
    <input type="text" class="form-control " placeholder="Nhập tên Thiết bị" [(ngModel)]="newDevice.name">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 110px;">Mô tả</span>
    <input type="text" class="form-control " placeholder="Nhập mô tả" [(ngModel)]="newDevice.des">
  </div>
  <div class="btn-popup-position">
    <button type="button" class="btn btn-outline-secondary me-3" (click)="closePop()">Đóng</button>
    <button type="button" class="btn btn-outline-primary" (click)="addDevice()" >Thêm mới</button>
  </div>
</dx-popup>


<dx-popup class="row" [(visible)]="popDelete" [closeOnOutsideClick]="true" height="200" width="500"  [showCloseButton]="false"
  [showTitle]="true" title="Xác nhận xóa" [resizeEnabled]="true">

    <div class=" mt-3">
      Bạn chắc chắn xóa Thiết bị <span class="fw-bold text-danger"> {{ itemInfor.name}} </span> ?
    </div>
  <div class="btn-popup-position">
    <button type="button" class="btn btn-outline-secondary me-3" (click)="popDelete = false">Đóng</button>
    <button type="button" class="btn btn-outline-danger" (click)="deleteWareHouse()" >Xóa</button>
  </div>
</dx-popup>