
<div class="row py-3 px-4">
  <div class="col-md-6">
    <div class="row mb-4">
        <div class="col-6 pe-4">    
             <span>Chọn ngày</span>
            <dx-date-box type="date" id="selected-date-time" 
              (onValueChanged)="selectStarDate($event)" displayFormat="dd/MM/yyyy">
            </dx-date-box>
        </div>
        <div class="col-6 pe-4">    
          
            <span >Chọn ca</span>
            <select class="custom-select" [(ngModel)]="isShift" (change)="changeShift()">
              <option value="1">Ca 1</option>
              <option value="2">Ca 2</option>
              <option value="3">Ca 3</option>
            </select>
         
        </div>
    </div>
</div>
    <div class="row">
      <hr>
      <span class="fw-bold mb-3">Báo cáo chi tiết theo:</span>
 
      <div class="col-3 pe-4 mb-2">
        <span > Sản phẩm</span>
        <select class="custom-select"[(ngModel)]="isProduct" (change)="filterData()" >
          <option value="0" selected>Tất cả</option>
          <option *ngFor="let item of listProduct" value="{{item.name}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-3 pe-4 mb-2">
        <span > Loại sản phẩm</span>
        <select class="custom-select"[(ngModel)]="isProductType" (change)="filterData()" >
          <option value="0" selected>Tất cả</option>
          <option *ngFor="let item of listProductType" value="{{item.name}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-3 pe-4 mb-2">
        <span > Loại bao</span>
        <select class="custom-select"[(ngModel)]="isPackging" (change)="filterData()" >
          <option value="0" selected>Tất cả</option>
          <option *ngFor="let item of listPackging" value="{{item.name}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-3 pe-4 mb-2">
        <span >Công việc</span>
        <select class="custom-select"[(ngModel)]="isTask" (change)="filterData()" >
          <option value="0" selected>Tất cả</option>
          <option *ngFor="let item of listTask" value="{{item.name}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-3 pe-4 mb-2">
        <span >Nơi bốc </span>
        <select class="custom-select"[(ngModel)]="isWareHouseUpload" (change)="filterData()" >
          <option value="0" selected>Tất cả</option>
          <option *ngFor="let item of listWareHouse" value="{{item.name}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-3 pe-4 mb-2">
        <span > Nơi dỡ</span>
        <select class="custom-select"[(ngModel)]="isWareHouseUnload" (change)="filterData()" >
          <option value="0" selected>Tất cả</option>
          <option *ngFor="let item of listWareHouse" value="{{item.name}}">{{item.name}}</option>
        </select>
      </div>

     


    </div>
    <div class="body-table">
          
        <table class=" w-100  ">
          <thead class="table-head" >
            <tr>
              <th rowspan="2" style="width: 50px;" >STT</th>  
              <th rowspan="2">Sản phẩm</th>
              <th rowspan="2">Loại bao</th>
              <th rowspan="2">Loại SP</th>
              <th rowspan="2">Công việc</th>
              <th rowspan="2">Nơi bốc</th>
              <th rowspan="2">Nơi dỡ</th>
              <th rowspan="2">TB bốc</th>
              <th rowspan="2">TB vận chuyển</th>
             
              <th colspan="2">SL ca</th>
              <th colspan="2">SL ngày</th>
              <th colspan="2">LK tuần</th>
              <th colspan="2">LK tháng</th>
            </tr>
            <tr>
              <th>Bao</th>
              <th>Tấn</th>
              <th>Bao</th>
              <th>Tấn</th>
              <th>Bao</th>
              <th>Tấn</th>
              <th>Bao</th>
              <th>Tấn</th>
            </tr>
        
          </thead>
          <tbody >
                   
                 <tr *ngFor="let item of dataTransportConvert;let i =index" >
                     <td>{{i+1}}</td>
               
                     <td>{{item.product}}</td>
                     <td>{{item.packging}}</td>
                     <td>{{item.productType}}</td>
                     <td>{{item.task}}</td>
                     <td>{{item.wareHouseUpload}}</td>
                     <td>{{item.wareHouseUnload}}</td>
                     <td>{{item.deviceUpload}}</td>
                     <td>{{item.deviceUnload}}</td>
                     <td>{{item.amount}}</td>
                     <td>{{item.amount}}</td>
                     <td>{{item.amount}}</td>
                     <td>{{item.amount}}</td>
                     <td>{{item.amount}}</td>
                     <td>{{item.amount}}</td>
                     <td>{{item.amount}}</td>
                     <td>{{item.amount}}</td>
                 </tr>
                 <tr style="background-color: silver;font-weight: bold;" >
                   <td colspan="9">Tổng</td>
                   <td>{{amountShift}}</td>
                   <td>{{amountShift}}</td>
                   <td>{{totalAmount}}</td>
                   <td>{{totalAmount}}</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
                
          </tbody>
        </table>
         
      </div>



    </div>
 
