<img alt="" class="bg_img_login" />
<div class="wrapper">
  <div class="head-menu">
    <label class="node-control-nav" for="nav-control">
      <img class="nav-icon" src="assets/svg/menu-burger.svg" alt="menu" />
    </label>
    <input type="checkbox" name="nav-control" id="nav-control" />
    <label for="nav-control" class="overlay-nav"></label>
    <div class="menu-nav">
      <div class="user-name-text">Username</div>
      <div class="logout-box" (click)="logOut($event)" style="cursor: pointer;">
        <div class="icon-around">
          <img src="assets/svg/log-out.svg" alt="log out icon" />
        </div>
        <span>Đăng xuất</span>
      </div>
    </div>

    <img src="assets/img/lda_icon.png" alt="lda_brand" class="brand" />
    <div class="company-name">
      <p>TẬP ĐOÀN CÔNG NGHIỆP THAN - KHOÁNG SẢN VIỆT NAM</p>
      <p>CÔNG TY TNHH MTV NHÔM LÂM ĐỒNG - TKVs</p>
    </div>
  </div>
  <div class="mainCol ">
    <div class="menu-group">
      <div *ngFor="let item of registrationMenuList" class="menu-item">
        <div [routerLink]="item.linkTo" class="menu-item-content ">
          <div class="img-around">

            <img *ngIf="item.icon_class === 'adding'" [class]="item.icon_class" src="assets/svg/add_png.svg"  alt="file-plus" />
            <img *ngIf="item.icon_class === 'list-view'" src="assets/svg/file-plus.svg" alt="file-plus" />
          </div>
          <h3 class="menu-title">{{item.title}}</h3>
          <div class="img-arrow-wrap">
            <img
              src="assets/svg/arrow-right.svg"
              alt="arrow-right"
              class="arrow-right-menu"
            />
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
