.wrapper {
  background-color: #f8f8f9;
  font-family: "Roboto", sans-serif;
}
.content {
  height: calc(var(--contentHeight) - 20px);
  background-color: #fff;
  position: relative;
  padding: 32px 24px 0 32px;
  overflow-y: auto;
}

.heading-title {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0;
}
.horizontal-line {
  background-color: #cbd3ee;
  height: 1px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
}
.horizontal-line.dotted {
  background-color: unset;
  border-top: 1px dashed #aeafb0;
}
.horizontal-line.dotted.option-2 {
  display: none;
}

.btn-completed {
  margin: 36px 0 36px auto;
}
.select-group {
}
.select-date label {
  margin-bottom: 0;
}
.select-ca {
}

.option-group {
}
.option-item {
}
.option-head {
}
.option-head span {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  padding: 0 4px;
  margin-left: 4px;
}
.option-head span:first-child {
  font-weight: 500;
  margin-left: 0;
}

/* .option-status {
} */
.option-location-info {
  background-color: #eef1f9;
  margin: 8px 2px 8px 0;
  padding: 8px;
}
.option-location-info p {
  margin-bottom: 0;
}
.option-location-info p:first-child {
  font-size: 13px;
  color: #4e4e4e;
  font-weight: 400;
}
.option-location-info p:last-child {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.form-info-group {
  margin-top: 24px;
}
::ng-deep .popup-content .option-status.new,
.option-head .option-status.new {
  color: #3459e6;
  background-color: #e7f0ff;
  padding: 4px 4px 0 4px;
  border-radius: 3px;
  font-weight: 400;
}
::ng-deep .popup-content .option-status.old,
.option-head .option-status.old {
  color: #00a560;
  background-color: #d5f0e6;
  padding: 4px 4px 0 4px;
  border-radius: 3px;
  font-weight: 400;
}
.option-location {
}
.form-info {
}

/* toast custom */
::ng-deep .toast-container .ngx-toastr {
  background-image: unset;
  padding: 32px 0;
  max-width: 100%;
  box-shadow: 0 0 3px #cfcece;
}

::ng-deep .toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px rgb(0 0 0 / 10%);
}
::ng-deep .ngx-toastr .toast-message {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
::ng-deep .ngx-toastr .toast-close-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
/* toast success */
::ng-deep .ngx-toastr.toast-success .toast-close-button {
  color: #1c6b4d;
}
::ng-deep .toast-container .ngx-toastr.toast-success {
  background-color: #d5f0e6;
  color: #1c6b4d;
}

/* toast  error */
::ng-deep .ngx-toastr.toast-error .toast-close-button {
  color: #dc3545;
}
::ng-deep .toast-container .ngx-toastr.toast-error {
  background-color: #e5d4d6;
  color: #dc3545;
}

/* popup  */
::ng-deep #popUpAddPackaging .dx-button-mode-contained {
  color: #525252;
}
::ng-deep #popUpAddPackaging .dx-button-mode-contained[aria-label="Xác nhận"] {
  background-color: #3459e6;
  color: #fff;
}

/* popup confirm*/
::ng-deep .dx-toolbar-label > div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
}
.popup-head > p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.popup-content {
  margin-bottom: 12px;
  border: 1px solid #cbd3ee;
  padding: 8px 8px 0 8px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}
.item-info {
  background-color: #eef1f9;
  font-family: "Roboto";
  margin: 0;
  padding: 8px 0;
}
.item-wrap {
  padding: 0 8px;
  font-weight: 400;
}
.item-title {
  font-size: 13px;
  color: #4e4e4e;
}
.item-value {
  font-size: 15px;
  color: #000;
}
.shift-info {
  font-size: 15px;
}
.option-wrap {
  font-family: "Roboto";
  padding: 0 8px;
  padding-bottom: 8px;
  position: relative;
}
.option-wrap:last-of-type:after {
  border: 0;
}
.option-wrap:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px dashed #aeafb0;
  margin-top: 10px;
}
.option-info {
  margin-top: 16px;
}
.option-p {
  font-weight: 500;
  color: #000000;
}
.option-name-bag {
  font-weight: 400;
  color: #000000;
}
::ng-deep .popup-content .option-status {
  font-size: 13px;
}
.option-name {
}
.option-status {
  padding: 0 4px;
}
.option-group {
  position: relative;
}
.option-group:after {
  content: " ";
  border-bottom: 1px dashed #aeafb0;
}
.option-item {
}
.option-title {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 13px;
  color: #4e4e4e;
  line-height: 24px;
}
.option-qty {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 17.58px;
  font-weight: 400;
}
.popup-footer p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 23.44px;
}

/* mobile */

@media only screen and (max-width: 37.5rem) {
  ::ng-deep .dx-toolbar-label > div {
    font-weight: 500;
    font-size: 20px;
  }
  .popup-content {
    height: unset;
    overflow: unset;
    border: 0;
    padding: 0;
  }
  .popup-head > p {
    font-size: 16px;
    line-height: 24px;
  }
  .item-info {
    background-color: unset;
  }
  .item-wrap {
    padding-left: 0;
  }
  .form-info-group .form-item {
    padding: 0 16px;
  }
  .heading-title {
    font-size: 18px;
  }
  .select-date label {
    font-size: 15px;
    font-weight: 400;
  }
  .option-head span {
    font-size: 15px;
  }
  p.info-field {
    margin-bottom: 0;
  }

  .option-head span:first-child {
    padding-left: 0;
    display: block;
  }
  .option-head .option-title {
    margin-left: 0;
    padding-left: 0;
  }
  .option-wrap {
    padding-left: 0;
  }
  .option-wrap:after {
    display: none;
  }
  .option-info {
    margin-top: 0;
  }
  ::ng-deep #popUpAddPackaging .dx-popup-content {
    overflow-y: auto;
    padding-bottom: 8px;
  }
  .popup-footer p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
   .btn-completed {
    width: 100%;
  }
}
