.select-wrap {
  position: relative;
}
.invalid-feedback {
  position: absolute;
  bottom: -22px;
  left: 0;
}
.form-control:focus {
  box-shadow: none;
}

.select {
  position: relative;
  width: 100%;
  font-size: 15px;
  color: #979797;
  font-family: "Roboto";
  border-radius: 3px;
  border: 1px solid #cbd3ee;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background: url("../../../../assets/svg/arrow_down.svg") no-repeat right #fff;
  background-size: 28px 18px;
  padding: 10.08px 6px;
  cursor: pointer;
}
.select:after {
  content: "";
}
.select:focus {
  outline: none;
  border: 1px solid #9aacf3;
}
.select option:active {
  background-color: red;
}
