<div class="card-pdfview">

    <div class="d-flex bg-white justify-content-center text-dark">
      <div class="d-flex preview justify-content-center">
        <div class="cover">
          <div id="contentToConvert">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column align-items-center badge-left title-header-left">
                <span>CÔNG TY TNHH MỘT THÀNH VIÊN </span>
                <span> NHÔM LÂM ĐỒNG - TKV </span>
                <span class="title-underline">
                  PHÒNG KHTT</span>
              </div>
              <!-- <button class="btn-danger" (click)="showData()">view</button> -->
              <div class="d-flex flex-column align-items-center badge-right title-header-right">
                <span> CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</span>
                <span>Độc lập - Tự do - Hạnh phúc</span>
              </div>
            </div>
            <div class="row pt-4" style="font-size: 18px;">
                <div class="col-6"></div>
                <div class="col-6 fst-italic">
                    Lâm Đồng, ngày {{now.getDate()}} tháng {{now.getMonth()}} năm {{now.getFullYear()}}
                </div>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center py-5 ">
              <span class="form-name-title text-center fs-2 fw-bold"> {{ dataBinding.title }}</span>
                 <span  *ngFor="let item of suggest">{{item.productSubtitle}}</span>
            </div>
              <div >
                  <div>
                    <div class="text-indent">
                      Căn cứ Quyết định số {{decision}} của TGĐ Công ty TNHH MTV nhôm Lâm Đồng - TKV về việc ban hành Quy định và quy trình xử lý sản phẩm lỗi và hạn mức quản lý tỷ lệ sản phẩm lỗi.
                    </div>
                    <div class="text-indent">
                      {{request}}
                    </div>
                  </div>
              </div>
            <!-- ---------------------------------------/table/--------------------------- -->
            <div class="pt-4">
              <table-minutes
              [minuteType]="minuteType"
              [request]="request"
              [decision]="decision"
              [suggest]="suggest"
              >
            </table-minutes>
             </div>
            <div style="padding: 80px 0;">
                <!-- --------------------------------/footer /--------------------------------  -->
                    <div class="row fw-bold">
                        <div class="col-3 text-center d-flex flex-column">
                            <span>NGUỜI LẬP</span>
                            <div style="height: 150px;"></div>
                            <span >Tên người lập</span>
                        </div>

                        <div class="col-3 text-center d-flex flex-column">
                            <span>P.KTTC</span>
                            <div style="height: 150px;"></div>
                            <span >Đại diện p.kttc</span>
                        </div>


                        <div class="col-3 text-center d-flex flex-column">
                            <span>NGUỜI LẬP</span>
                            <div style="height: 150px;"></div>
                            <span >Đại diện P. Chủ Quản</span>
                        </div>


                        <div class="col-3 text-center d-flex flex-column">
                            <span>PHÓ GIÁM ĐỐC</span>
                            <div style="height: 150px;"></div>
                            <span >Phó giám đốc</span>
                        </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
