<app-navbar></app-navbar>

<div style='margin-top: 50px;' class="container py-4">
    <app-breadcrumb></app-breadcrumb>
    <table class="table table-bordered pt-4">
        <thead>
          <tr>
            <th style="width:50px">STT</th>
            <th>Tài Khoản</th>
            <th>Mật khẩu</th>
            <th>Chức năng</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>

          <tr>
              <td>1</td>
              <td>stvg</td>
              <td>123456</td>
              <td>admin</td>
              <td style='width: 150px;text-align: center;'>
                <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'> 
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
              </td>
          </tr>
          <tr>
              <td>2</td>
              <td>nv01</td>
              <td>123456</td>
              <td>print</td>
              <td style='width: 150px;text-align: center;'>
                <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'> 
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
              </td>
          </tr>
          <tr>
              <td>3</td>
              <td>nv02</td>
              <td>123456</td>
              <td>print</td>
              <td style='width: 150px;text-align: center;'>
                <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'> 
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
              </td>
          </tr>
          <tr>
              <td>4</td>
              <td>nv03</td>
              <td>123456</td>
              <td>manager</td>
              <td style='width: 150px;text-align: center;'>
                <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'> 
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
              </td>
          </tr>
          <tr>
              <td>5</td>
              <td>vanchuyen1</td>
              <td>123456</td>
              <td>transfer</td>
              <td style='width: 150px;text-align: center;'>
                <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'> 
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
              </td>
          </tr>
          <tr>
              <td>6</td>
              <td>vanchuyen2</td>
              <td>123456</td>
              <td>transfer</td>
              <td style='width: 150px;text-align: center;'>
                <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'> 
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
              </td>
          </tr>
          <tr>
            <td>7</td>
            <td>stvg2</td>
            <td>123456</td>
            <td>admin</td>
            <td style='width: 150px;text-align: center;'>
              <img src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'> 
              <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
            </td>
        </tr>
        </tbody>
      </table>
</div>
