<app-navbar></app-navbar>


<div style='margin-top: 50px;' class="container py-4">
  <app-breadcrumb></app-breadcrumb>
  <div class="py-3">

    <div class="configuration__content__title d-flex " style='justify-content: space-between;'>
      <div>
        Danh sách tài khoản
      </div>
      <img src="/assets/svg/add.svg" alt="" class='icon-add' (click)='popAdd = true'>
    </div>
  </div>
   
    <table class="table table-bordered table-hover mt-2">
        <thead>
          <tr>
            <th style="width:50px">STT</th>
            <th>Tên</th>
            <th>Tài Khoản</th>
            <th>Mật khẩu</th>
            <th>Loại</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of listUser;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.user}}</td>
              <td>{{item.username}}</td>
              <td>{{item.password}}</td>
              <td>{{item.type}}</td>
              <td style='width: 150px;text-align: center;'>
                <img (click)="getInforUser(item);popEdit = true" src="assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'>  <!-- btn  edit  -->
                <img (click)="getInforUser(item);showPopDel()" src="/assets/svg/delete.svg" alt="" class='icon-update-table'> <!-- btn  delete  -->
              </td>
          </tr>
         
        </tbody>
      </table>
</div>

<!-- --------------------------------- popup add -------------------------------------  --> 

<dx-popup class="row" [(visible)]="popAdd" [closeOnOutsideClick]="false" height="350" width="500"  [showCloseButton]="false"
  [showTitle]="true" title="Thêm mới Thiết bị" [resizeEnabled]="true">
  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 90px;" >Tên</span>
    <input type="text" class="form-control" placeholder="Nhập mã Tên" [(ngModel)]="newUser.user">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 90px;" >Tài khoản</span>
    <input type="text" class="form-control " placeholder="Nhập tên Tài khoản" [(ngModel)]="newUser.username">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 90px;">Mật khẩu</span>
    <input type="text" class="form-control " placeholder="Nhập mật khẩu" [(ngModel)]="newUser.password">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" style="width: 90px;" >Loại</span> 
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="newUser.type">
      <option value="1">Loại 1</option>
      <option value="2">Loại 2</option>
      <option value="3">Loại 3</option>
      <option value="4">Loại 4</option>
      <option value="5">Loại 5</option>
    </select>
  </div>
  <div class="btn-popup-position">
    <button type="button" class="btn btn-outline-secondary me-3" (click)="closePop()">Đóng</button>
    <button type="button" class="btn btn-outline-primary" (click)="createUser()" >Thêm mới</button>
  </div>
</dx-popup>
<!-- ----------------------------------------------- popup Edit --------------------------------------------  -->

<dx-popup class="row" [(visible)]="popEdit" [closeOnOutsideClick]="false" height="300" width="500"  [showCloseButton]="false"
  [showTitle]="true" title="Thêm mới Thiết bị" [resizeEnabled]="true">

  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 90px;" >Tài khoản</span>
    <input type="text" class="form-control " placeholder="Nhập tên Tài khoản" [(ngModel)]="inforUser.username">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"  style="width: 90px;">Mật khẩu</span>
    <input type="text" class="form-control " placeholder="Nhập mật khẩu" [(ngModel)]="inforUser.password">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" style="width: 90px;" >Loại</span> 
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="inforUser.type">
      <option value="1">Loại 1</option>
      <option value="2">Loại 2</option>
      <option value="3">Loại 3</option>
      <option value="4">Loại 4</option>
      <option value="5">Loại 5</option>
    </select>
  </div>

  <div class="btn-popup-position">
    <button type="button" class="btn btn-outline-secondary me-3" (click)="closePop()">Đóng</button>
    <button type="button" class="btn btn-outline-primary" (click)="editUser()" >Chỉnh sửa</button>
  </div>
</dx-popup>



<!-- --------------------------popup delete -------------------------  -->
<dx-popup class="row" [(visible)]="popDel" [closeOnOutsideClick]="true" height="200" width="500"  [showCloseButton]="false"
  [showTitle]="true" title="Xác nhận xóa" [resizeEnabled]="true">

    <div class=" mt-3">
      Bạn chắc chắn xóa sản phẩm <span class="fw-bold text-danger"> {{inforUser.user}} </span> ?
    </div>
  <div class="btn-popup-position">
    <button type="button" class="btn btn-outline-secondary me-3" (click)="popDel = false">Đóng</button>
    <button type="button" class="btn btn-outline-danger" (click)="deleteuser()">Xóa</button>
  </div>
</dx-popup>