<div class="configuration">
  <button class="btn-primary btn" (click)="testService()">test service</button>
    <ng-container *ngFor='let item of dataTypeMinutes'>
      <div class="configuration__content__title d-flex" style='justify-content: space-between;'>
        <div>
          {{item.name}} 
        </div>
        <img src="/assets/svg/add.svg" alt="" class='icon-add' (click)="showAddMinutesDetail(item.name,item.type,item.cate)" >
      </div>
      <div class="configuration__content__body" style='margin-top: var(--padding);'>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width:80px">STT</th>
              <th >Mã {{item.name}}</th>
              <th>{{item.name}}</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let detail of item.listDetail; let i = index'>
              <td style='width: 80px;'>{{i+1}}</td>
              <td>{{detail.detailCode}}</td>
              <td>{{detail.detailName}}</td>
              <td style='width: 150px;text-align: center;'>
                <img src="/assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'
                  attr.data-order="{{i}" 
                  (click)=showEditMinutes(detail.detailId,detail.detailName,detail.detailCode,item.cate,item.type)
                  >
            
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'(click)="showDeleteDetail(detail.detailId,detail.detailName,item.type)"
                >

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>

  <!-- -----------------------------/add/----------------------------------  -->
  <dx-popup [(visible)]="isPopupAddMinutes" [closeOnOutsideClick]="true" [showTitle]="true"
  title="Thêm mới {{name}}" [height]="320" [width]="550">
  <div class="" style="width:90%;margin:auto">
    <form (ngSubmit)="addMinutesDetail()"  autocomplete="off" >
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label for="FATP-code" class="form-label">Mã {{name}}</label>
          <input id="FATP-code" name="code" rules='required' type="text" class="form-control"  [value]='objAddMinuteDetail.input.code.value'
          (blur)='blur($event,objAddMinuteDetail)' (click)='click($event)' (input)='input($event,objAddMinuteDetail)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label for="FATP-name" class="form-label">Tên {{name}}</label>
          <input id="FATP-name" name="name" rules='required' type="text" class="form-control"  [value]='objAddMinuteDetail.input.name.value'
          (blur)='blur($event,objAddMinuteDetail)' (click)='click($event)' (input)='input($event,objAddMinuteDetail)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class='formErrMess text-danger pt-2'></div>
      <div class='d-flex justify-content-end py-2'>
        <button type="button" class="btn btn-light btn-cancel mr-3" (click)="closePopup()">Hủy</button>
        <button type="submit"  class="btn btn-primary btn-blue " [disabled]='!objAddMinuteDetail.isValid'> Thêm</button>
      </div>
    </form>
  </div>
</dx-popup>
<!-- -----------------------/edit/------------------------------------  -->
<dx-popup [(visible)]="isPopupEditMinutes" [closeOnOutsideClick]="true" [showTitle]="true"
title="Chỉnh sửa {{name}}" [height]="320" [width]="550">
<div class="" style="width:90%;margin:auto">
  <form (ngSubmit)="editMinutesDetail()"  autocomplete="off" >
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label  for="FATP-code" class="form-label">Mã {{name}}</label>
          <input disabled id="FATP-code" name="code" rules='required' type="text" class="form-control" [value]='objAddMinuteDetail.input.code.value' type="text"
          (blur)='blur($event,objAddMinuteDetail)' (click)='click($event)' (input)='input($event,objAddMinuteDetail)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label for="FATP-name" class="form-label">Tên {{name}}</label>
          <input id="FATP-name" name="name" rules='required' type="text" class="form-control"  [value]='objAddMinuteDetail.input.name.value'
          (blur)='blur($event,objAddMinuteDetail)' (click)='click($event)' (input)='input($event,objAddMinuteDetail)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class='formErrMess text-danger pt-2'></div>
      <div class='d-flex justify-content-end py-2'>
        <button type="button" class="btn btn-light btn-cancel mr-3" (click)="closePopup()">Hủy</button>
        <button type="submit"  class="btn btn-primary btn-blue "> Chỉnh sửa</button>
      </div>
    </form>
  </div>
</dx-popup>
<!-- -----------------------------/popup delete/---------------------------------------------  -->
<dx-popup [(visible)]="isPopupDeleteMinutes" [closeOnOutsideClick]="true" [showTitle]="true"
title="Xác nhận" [height]='180' [width]="380" [resizeEnabled]="true">
<form  autocomplete="off">
<p>
  Xóa {{name}}?
</p>
<div class='d-flex justify-content-around py-2'>
  <button type="button" class="btn btn-light btn-cancel" (click)="closePopup()">Hủy</button>
  <button type="button" (click)="isConfirmDelete = !isConfirmDelete" class="btn btn-primary btn-blue mr-3">Xóa</button>
</div>
</form>
<dx-popup [(visible)]="isConfirmDelete" [closeOnOutsideClick]="true" [showTitle]="true" title="Xác nhận" [height]='180' [width]="400" >
<div class="wrap-input" >
  <div class='d-flex' style='justify-content: space-between;'>
    <span>Bạn có chắc chắn xóa mục này ?</span>
  </div>
  
</div>
<div class='d-flex justify-content-end mt-4' >
  <div  class="btn btn-light btn-cancel mr-3" (click)="isConfirmDelete = !isConfirmDelete"(click)="closePopup()">Đóng</div>
  <button type="button" (click)="deleteMinutesMinutes()"  class="btn btn-primary btn-danger" >  Xóa</button>
</div>
</dx-popup>