<div class="configuration">
    <ng-container *ngFor='let item of dataTypeMinutes'>
      <div class="configuration__content__title d-flex" style='justify-content: space-between;'>
        <div>
          {{item.name}}
        </div>
        <img src="/assets/svg/add.svg" alt="" class='icon-add' (click)="showAddMinutesDetail(item.name)">
      </div>
      <div class="configuration__content__body" style='margin-top: var(--padding);'>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>STT</th>
              <th>{{item.name}}</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let detail of item.listDetail; let i = index'>
              <td style='width: 80px;'>{{i+1}}</td>
              <td>{{detail.detailName}}</td>
              <td style='width: 150px;text-align: center;'>
                <img src="/assets/svg/edit.svg" alt="" class='mr-3 icon-update-table'
                  attr.data-order="{{i}" 
                  (click)="showEditDetailMinute(i,detail.detailName,item.name)"
                 >
                <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'
                 (click)="showDeleteDetailMinute(i,detail.detailName,item.name,detail.id)"  attr.data-order="{{i}"
                 >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
  <!-- ------------------------------/popup/----------------------------------  -->
   <dx-popup [(visible)]="isShowPopup" [closeOnOutsideClick]="true" [showTitle]="true"
  title="{{objAddMinuteDetail.atc}} {{objAddMinuteDetail.title}}" [height]='250' [width]="500" [resizeEnabled]="true">
    <div class="" style="width:90%;margin:auto">
      <form (ngSubmit)="onSubmitMinutesDetail(objAddMinuteDetail.atc,objAddMinuteDetail.title)" autocomplete="off" >
        <div class="wrap-input" >
            <div class='d-flex' style='justify-content: space-between;'>
              <label for="FAPU-dvd" *ngIf="objAddMinuteDetail.atc!=='Xóa'"class="form-label">{{objAddMinuteDetail.title}}</label>
              <label for="FAPU-dvd" *ngIf="objAddMinuteDetail.atc=='Xóa'" class="form-label">Xóa {{objAddMinuteDetail.title}} {{objAddMinuteDetail.name}} ?</label>
              <input id="FAPU-dvd" name="dvd" *ngIf="objAddMinuteDetail.atc=='Thêm mới'" rules='required'  type="text"  class="form-control"  (blur)='blur($event,objAddMinuteDetail)' (click)='click($event)' (input)='input($event,objAddMinuteDetail)'>
              <input id="FAPU-dvd" name="dvd" *ngIf="objAddMinuteDetail.atc=='Chỉnh sửa'" [(ngModel)]='objAddMinuteDetail.name'  rules='required'  type="text"  class="form-control"  (blur)='blur($event,objAddMinuteDetail)' (click)='click($event)' >
    
            </div>
            <span class="input-message"></span>
          </div>
          <div class='formErrMess text-danger mt-2'>{{objAddMinuteDetail.formErrMess}}</div>
          <div class='d-flex justify-content-end mt-4' >
            <div  class="btn btn-light btn-cancel mr-3" (click)="closePop()">Hủy</div>
            <button type="submit" *ngIf="objAddMinuteDetail.atc=='Thêm mới'" [disabled]='!objAddMinuteDetail.isValid' class="btn btn-primary btn-blue   " > Thêm</button>
            <button type="submit" *ngIf="objAddMinuteDetail.atc=='Chỉnh sửa'"  class="btn btn-primary btn-blue" >  Chỉnh Sửa</button>
            <button type="submit" *ngIf="objAddMinuteDetail.atc=='Xóa'"  class="btn btn-primary btn-blue" >  Xóa</button>
          </div>
      </form>
    </div>
  </dx-popup> 
  <!-- Edit Equipment -->
  <!-- <dx-popup [(visible)]="isPopupEditEquipment" [closeOnOutsideClick]="true" [showTitle]="true"
    title="{{objEditEquipment.title}}" [height]='250' [width]="500" [resizeEnabled]="true">
    <div class="" style="width:90%;margin:auto">
      <form (ngSubmit)="onSubmitEditEquipment($event)" autocomplete="off" *ngIf='isPopupEditEquipment'>
        <div class="wrap-input">
          <div class='d-flex' style='justify-content: space-between;'>
            <label for="FEW-ltb" class="form-label">Loại thiết bị</label>
            <input id="FEW-ltb" name="ltb" disabled [value]='objEditEquipment.nameTypeEquipment' class="form-control">
          </div>
          <span class="input-message"></span>
        </div>
        <div class="wrap-input">
          <div class='d-flex' style='justify-content: space-between;'>
            <label for="FEW-ttb" class="form-label">Tên thiết bị</label>
            <input id="FEW-ttb" name="ttb" rules='required' type="text" class="form-control"
              [value]='objEditEquipment.input.ttb.value' (blur)='blur($event,objEditEquipment)'
              (input)='input($event,objEditEquipment)'>
          </div>
          <span class="input-message"></span>
        </div>
        <div class='formErrMess text-danger mt-2'>{{objEditEquipment.formErrMess}}</div>
        <div class='formSuccMess text-success mt-2'>{{objEditEquipment.formSuccMess}}</div>
        <div class='d-flex justify-content-end mt-4' >
          <div class="btn btn-light btn-cancel mr-3">Hủy</div>
          <button type="submit" [disabled]='!objEditEquipment.isValid' class="btn btn-primary btn-blue"> Sửa</button>
        </div>
      </form>
    </div>
  </dx-popup> -->
  <!-- Delete Equipment -->
  <!-- <dx-popup [(visible)]="isPopupDeleteEquipment" [closeOnOutsideClick]="true" [showTitle]="true"
    title="{{objDeleteEquipment.title}}" [height]='180' [width]="380" [resizeEnabled]="true">
    <div class="" style="width:90%;margin:auto">
      <div class='title-from-delete'>{{objDeleteEquipment.mess}}</div>
      <form (ngSubmit)="onSubmitDeleteEquipment($event)" autocomplete="off" *ngIf='isPopupDeleteEquipment'>
        <div class='formErrMess text-danger mt-2'>{{objDeleteEquipment.formErrMess}}</div>
        <div class='formSuccMess text-success mt-2'>{{objDeleteEquipment.formSuccMess}}</div>
        <div class='d-flex justify-content-around mt-4' >
          <div class="btn btn-light btn-cancel " >Hủy</div>
          <button type="submit" class="btn btn-primary btn-blue   mr-3"> Xóa</button>
        </div>
      </form>
    </div>
  </dx-popup> -->
