<div class="row pt-3">
  <div class="col-12">
    <h2>Lô hàng</h2>
    <dx-data-grid id="gridContainer" [dataSource]="parcelList" [rowAlternationEnabled]="true" [showBorders]="true">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxi-column dataField="parcel_code" caption="Mã Lô Hàng"></dxi-column>
      <dxi-column dataField="created_by" caption="Tạo bởi"></dxi-column>
      <dxi-column cellTemplate="cellAction"></dxi-column>
      <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
      <div *dxTemplate="let parcel of 'detail'">
        <div class="master-detail-caption pb-3">Chi tiết lô hàng {{parcel.data.parcel_code}}</div>
        <detail-parcel-grid [key]="parcel.data.parcel_code"></detail-parcel-grid>
      </div>
      <div *dxTemplate="let d of 'cellAction'">
        <a type="button" (click)="showModal(d.data.parcel_code)">
          <span><i class="fa fa-edit" style="color: #4C6EF5; font-size: 16px;"></i></span>
        </a>
        <a type="button" (click)="showModal(d.data.parcel_code)">
          <span><i class="fa fa-delete" style="color: #4C6EF5; font-size: 16px;"></i></span>
        </a>
      </div>
    </dx-data-grid>
  </div>
</div>