<div class="item-wrap">
  <div class="item-head">
    <app-option-status [type]="'NDM'"></app-option-status>
    <div class="option-toolbar">
      <img
        (click)="onClick($event)"
        src="assets/svg/edit.svg"
        alt="edit"
        class="btn-edit"
      />
      <img src="assets/svg/delete.svg" alt="edit" class="btn-delete" />
    </div>
  </div>
  <div class="item-content">
    <div class="option-title">Option 1: Alumin 1 tấn - Loại 1 - Đáy bằng</div>
    <div class="row option-info">
      <div class="col-6 col-lg-6 shift-info">
        <div class="shift-label">Lô</div>
        <div class="shift-value">189</div>
      </div>
      <div class="col-6 col-lg-6 shift-info">
        <div class="shift-label">Kho</div>
        <div class="shift-value">189</div>
      </div>
      <div class="col-6 col-lg-6 shift-info">
        <div class="shift-label">Đơn vị đóng</div>
        <div class="shift-value">189</div>
      </div>
      <div class="col-6 col-lg-6 shift-info">
        <div class="shift-label">TK nhập số</div>
        <div class="shift-value">189</div>
      </div>
    </div>
    <div class="row machine-list">
      <div class="col-6 col-lg-6 machine-item">
        <div class="machine-label">Máy A:</div>
        <div class="machine-value">12</div>
      </div>
      <div class="col-6 col-lg-6 machine-item">
        <div class="machine-label">Máy A:</div>
        <div class="machine-value">12</div>
      </div>
      <div class="col-6 col-lg-6 machine-item">
        <div class="machine-label">Máy A:</div>
        <div class="machine-value">12</div>
      </div>
      <div class="col-6 col-lg-6 machine-item">
        <div class="machine-label">Máy A:</div>
        <div class="machine-value">12</div>
      </div>
      <div class="col-6 col-lg-6 machine-item">
        <div class="machine-label">Máy A:</div>
        <div class="machine-value">12</div>
      </div>
    </div>
  </div>
</div>
