.brand-wrap {
  // position: fixed;
  display: flex;
}
.brand-wrap .brand {
  min-height: 66px;
  height: 66px;
}
.brand-wrap .company-name {
  margin-left: 24px;
}
.company-name .title-name {
  text-align: center;
  font-family: Roboto, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.02);
  color: #418bca;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}
.company-name .sub-title-name {
  color: #9f221e;
  font-size: 24px;
  font-weight: 700;
}

.wrap {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.form-title {
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 24px;
}
.bg_img_login {
  background-image: url("../../assets/img/bg2.jpg");
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-form {
  background-color: #fff;
  padding: 60px 50px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  width: 500px;
}
.wrap button {
  font-size: 16px;
  background-color: #fff;
  border-color: #3459e6;
  color: #3459e6;
}
.wrap button:hover {
  background-color: #3459e6;
  color: #fff;
}

.name {
  color: #3459e6;
  font-size: 24px;
}

// mobile
@media only screen and (max-width: 37.5rem) {
  .bg_img_login {
    // display: none;
  }

  .company-name {
    display: none;
  }
  .login-form {
    box-shadow: none;
    padding: 0 16px;
    width: 320px;
  }
  .form-control {
    font-size: 0.875rem;
  }
  .company-name .title-name {
    font-size: 18px;
    display: none;

  }

  .company-name .sub-title-name {
    font-size: 14px;
    display: none;

  }


  .name {
    color: #3459e6;
    font-size: 18px;
  }
}
