/*
h3{
  font-size: 18px;
}
/* .header{

}
.place-bar{

} */
.place-bar span {
  font-size: 14px;
  font-weight: 400;
  color: #1a1a1a;
}
.place-bar span:first-child {
  color: #4a80ff;
}

.heading {
  font-size: 18px;
  font-weight: 500;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* select year */
.filter-bar .dx-field {
}
.filter-bar .dx-field-value {
  width: 242px;
  height: 40px;
}
/* filter_add */
.filter_add {
  display: flex;
}
.research-group {
  position: relative;
  min-width: 369px;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #ced4da;
  background-color: #fff;
}
.research-group.invalid {
  border-color: tomato;
}
.research-group img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 17px;
}
.research-group input {
  position: absolute;
  bottom: 0;
  top: 0;
  border: 0;
  left: 50px;
  width: 85%;
  outline: none;
  font-size: 13px;
}
/* btn-add */
.filter_add .btn-add {
  min-width: 145px;
  height: 45px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: #3459e6;
  border: 0;
  outline: none;
  border-radius: 3px;
  margin-left: 16px;
  padding: 0 14px;
  border: 1px solid #3459e6;
}
.filter_add .btn-add:hover {
  border-color: green;
}

/* section content */
/* .content {

} */
.time-point {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
/* .time-point img{} */
.time-point span {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-left: 8px;
}

/* .data-table{} */

.data-table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.con-item {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 164px;
  height: 68px;
  border: 1px solid #cbd3ee;
  border-radius: 5px;
  margin: 8px;
}
/* item hover */
.con-item:hover {
  border-color: #3459e6;
  background-color: #dbe5ff;
}
.con-item:hover img {
  content: url("../../../../assets/svg/blue_box.svg");
}
.con-item:hover .info p {
  color: #3459e6;
}

.con-item img {
  width: 32px;
  height: 32px;
  margin-left: 14px;
}
.con-item .info {
  margin-left: 20px;
}
.con-item .info p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.con-item .info p:nth-child(2) {
  font-size: 12px;
  font-weight: 300;
}

.btn-show-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  opacity: 0;
}

/* popup */
.popup-head {
  display: flex;
  background-color:#EEF1F9;
  align-items: center;
  padding: 13.2px 25px;
}
.popup-head p{
  margin: 0;
}

.popup-head .day {
  font-size:16px;
  font-weight: 300;
  color: #000;
  text-align: center;
}
.popup-head .creator {
  font-size:16px;
  font-weight: 300;
  color: #000;
  margin-left: 178px;
  text-align: center;
}
.popup-head span {
  font-weight: 500;
}

#gridContainer {
  margin-top: 40px;
}

/* form */
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {

}
.form-group .name_consignment {
  min-height:45px;
  padding: 8px;
  margin-top: 10px;
  width:50%;
  color: #979797;
  background-color: #fff;
  outline: none;
  border: 1px solid #CBD3EE;
  border-radius:3px;
}

.con-status {
  position: relative;
}
.con-status span {
  position: absolute;
  top: -6px;
  left: 21px;
}
::ng-deep .con-status-yl:before {
  content: '';
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  background-image: url('../../../../assets/svg/ellipse-yellow.svg');
}
::ng-deep .con-status-bl:before {
  content: '';
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  background-image: url('../../../../assets/svg/ellipse-blue.svg');
}

::ng-deep .con-status-gr:before {
  content: '';
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  background-image: url('../../../../assets/svg/ellipse-green.svg');
}
