<!-- type=text -->
<div  class="form-group">
  <input
    [class.is-invalid]="ngControl.invalid && ngControl.touched"
    type="{{ type }}"
    class="form-control"
    [formControl]="ngControl.control"
    placeholder="{{ label }}"
    style="height:46px"
  />

  <div *ngIf="ngControl.control?.errors?.required" class="invalid-feedback">
    Vui lòng nhập {{ label }}
  </div>
  <div *ngIf="ngControl.control?.errors?.minlength" class="invalid-feedback">
    {{ label }} ít nhất
    {{ (ngControl.control?.errors?.minlength)["requiredLength"] }} kí tự
  </div>
  <div *ngIf="ngControl.control?.errors?.pattern" class="invalid-feedback">
    {{ label }} là số
  </div>
  <div *ngIf="ngControl.control?.errors?.maxlength" class="invalid-feedback">
    {{ label }} ít nhất
    {{ (ngControl.control?.errors?.maxlength)["requiredLength"] }}
  </div>
  <div *ngIf="ngControl.control?.errors?.isMatching" class="invalid-feedback">
    Password do not match
  </div>

</div>
