<div class="line-chart-wrap">
  <dx-chart class="chart-line" [id]="idChartLine" palette="Green" [dataSource]="products">
    <dxi-series *ngFor="let machine of configChart.series" [valueField]="machine.fieldCode" [name]="machine.fieldCode">
    </dxi-series>
    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom" [visible]="true"
      [font]="configChart.fontLegend">
    </dxo-legend>
    <dxo-common-series-settings #seriesSettings type="line" [argumentField]="'day'" [valueField]="configChart.dataField">
    </dxo-common-series-settings>

    <dxo-title [text]="configChart.title" [font]="configChart.fontTitle" verticalAlignment="top"
      horizontalAlignment="left"></dxo-title>
    <dxo-tooltip [enabled]="true" [border]="configChart.borderTooltip"></dxo-tooltip>
  </dx-chart>
  <span>{{ configChart.product_name }}</span>
</div>