<div >
  <dx-chart class="chart-line" id="" palette="Green" [dataSource]="productListInfo">
    <dxi-series
      *ngFor="let machine of typeOfMachines"
      [valueField]="machine.value"
      [name]="machine.name"
    >
    </dxi-series>
    <dxo-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="bottom"
    >
    </dxo-legend>
    <dxo-common-series-settings #seriesSettings argumentField="day" type="line">
    </dxo-common-series-settings>
    <!-- <dxo-margin [bottom]="20"></dxo-margin> -->
    <!-- <dxo-argument-axis
      [valueMarginsEnabled]="false"
      discreteAxisDivisionMode="crossLabels"
    >
      <dxo-grid [visible]="true"></dxo-grid>
    </dxo-argument-axis> -->

    <dxo-title
      [text]="title"
      verticalAlignment="top"
      horizontalAlignment="left"
    ></dxo-title>
    <!-- <dxo-title
      text="Tên sản phẩm"
      verticalAlignment="top"
      horizontalAlignment="left"
    ></dxo-title> -->
    <!-- [font]="configChart.fontTitle" -->
    <!-- <dxo-export [enabled]="true"></dxo-export> -->
    <dxo-tooltip [enabled]="true"></dxo-tooltip>
  </dx-chart>
</div>
