<div class="configuration">
  <div class="configuration__content__title d-flex" style='justify-content: space-between;'>
    <div>

      Công việc
    </div>
    <img src="/assets/svg/add.svg" alt="" class='icon-add' (click)='togglePopupAddWork()'>
  </div>
  <div class="configuration__content__body" style='margin-top: var(--padding);'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>STT</th>
          <th>Công việc</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of listWork'>
          <td style='width: 80px;'>{{item.index+1}}</td>
          <td>{{item.nameWork}}</td>
          <td style='width: 150px;text-align: center;'>
            <img src="/assets/svg/edit.svg" alt="" class='mr-3 icon-update-table' attr.data-order="{{item.index}}"
              (click)='clickEditWork($event)'>
            <img src="/assets/svg/delete.svg" alt="" class='icon-update-table' attr.data-order="{{item.index}}"
              (click)='clickDeleteWork($event)'>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Add Work -->
<dx-popup [(visible)]="isPopupAddWork" [closeOnOutsideClick]="true" [showTitle]="true" title="{{objAddWork.title}}"
  [height]='300' [width]="500" [resizeEnabled]="true">
  <div class="" style="width:90%;margin:auto">
    <form (ngSubmit)="onSubmitAddWork($event)" autocomplete="off" *ngIf='isPopupAddWork'>
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label for="FAW-mcv" class="form-label">Mã công việc</label>
          <input id="FAW-mcv" name="mcv" rules='required' type="text" class="form-control"
            (blur)='blur($event,objAddWork)' (click)='click($event)' (input)='input($event,objAddWork)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label for="FAW-tcv" class="form-label">Tên công việc</label>
          <input id="FAW-tcv" name="tcv" rules='required' type="text" class="form-control"
            (blur)='blur($event,objAddWork)' (click)='click($event)' (input)='input($event,objAddWork)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class='formErrMess text-danger mt-2'>{{objAddWork.formErrMess}}</div>
      <div class='formSuccMess text-success mt-2'>{{objAddWork.formSuccMess}}</div>
      <div class='d-flex justify-content-end mt-4' >
        <div class="btn btn-light btn-cancel mr-3" (click)='togglePopupAddWork()'>Hủy</div>
        <button type="submit" [disabled]='!objAddWork.isValid' class="btn btn-primary btn-blue   "> Thêm</button>
      </div>
    </form>
  </div>
</dx-popup>
<!-- Edit Work -->
<dx-popup [(visible)]="isPopupEditWork" [closeOnOutsideClick]="true" [showTitle]="true" title="{{objEditWork.title}}"
  [height]='250' [width]="500" [resizeEnabled]="true">
  <div class="" style="width:90%;margin:auto">
    <form (ngSubmit)="onSubmitEditWork($event)" autocomplete="off" *ngIf='isPopupEditWork'>
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label for="FEW-mcv" class="form-label">Mã công việc</label>
          <input disabled id="FEW-mcv" name="mcv" rules='required' type="text" class="form-control"
            [value]='objEditWork.input.mcv.value' (blur)='blur($event,objEditWork)' (click)='click($event)'
            (input)='input($event,objEditWork)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class="wrap-input">
        <div class='d-flex' style='justify-content: space-between;'>
          <label for="FEW-tcv" class="form-label">Tên công việc</label>
          <input id="FEW-tcv" name="tcv" rules='required' type="text" class="form-control"
            [value]='objEditWork.input.tcv.value' (blur)='blur($event,objEditWork)' (click)='click($event)'
            (input)='input($event,objEditWork)'>
        </div>
        <span class="input-message"></span>
      </div>
      <div class='formErrMess text-danger mt-2'>{{objEditWork.formErrMess}}</div>
      <div class='formSuccMess text-success mt-2'>{{objEditWork.formSuccMess}}</div>
      <div class='d-flex justify-content-end mt-4'>
        <div class="btn btn-light btn-cancel mr-3" (click)='togglePopupEditWork()'>Hủy</div>
        <button type="submit" [disabled]='!objEditWork.isValid' class="btn btn-primary btn-blue"> Sửa</button>
      </div>
    </form>
  </div>
</dx-popup>
<!-- Delete Work -->
<dx-popup [(visible)]="isPopupDeleteWork" [closeOnOutsideClick]="true" [showTitle]="true"
  title="{{objDeleteWork.title}}" [height]='180' [width]="380" [resizeEnabled]="true">
  <div class="" style="width:90%;margin:auto">
    <div class='title-from-delete'>{{objDeleteWork.mess}}</div>
    <form  autocomplete="off" *ngIf='isPopupDeleteWork'>
      <div class='formErrMess text-danger mt-2'>{{objDeleteWork.formErrMess}}</div>
      <div class='formSuccMess text-success mt-2'>{{objDeleteWork.formSuccMess}}</div>
      <div class='d-flex justify-content-around mt-4'>
        <div class="btn btn-light btn-cancel " (click)='togglePopupDeleteWork()'>Hủy</div>
        <button type="button" (click)="isConfirmDelete = !isConfirmDelete"  class="btn btn-primary btn-blue   mr-3" > Xóa</button>
      </div>
    </form>
  </div>
  <dx-popup [(visible)]="isConfirmDelete" [closeOnOutsideClick]="true" [showTitle]="true" title="Xác nhận" [height]='180' [width]="400" >
    <div class="wrap-input" >
      <div class='d-flex' style='justify-content: space-between;'>
        <span>Bạn có chắc chắn xóa mục này ?</span>
      </div>
      
    </div>
    <div class='d-flex justify-content-end mt-4' >
      <div  class="btn btn-light btn-cancel mr-3" (click)="isConfirmDelete = !isConfirmDelete">Đóng</div>
      <button type="button" (click)="onSubmitDeleteWork($event)"  class="btn btn-primary btn-danger" >  Xóa</button>
    </div>
  </dx-popup>
</dx-popup>