<img src="assets/svg/bigLogo.svg" alt="" style='position: fixed; top:40px;left: 80px;'>
<div class="wrap" style='background: #fff;'>
  <form [formGroup]="registerForm" (ngSubmit)="login()" autocomplete="off" style='width:340px'>
    <h2 class="text-center text-primary">Đăng nhập</h2>
    <hr>
    <span style='color: #696F79;'>Tài khoản</span>
    <app-text-input formControlName="username" [label]="'username'" [type]="'text'" ></app-text-input>
    <span style='color: #696F79;margin-top:10px;'>Mật khẩu</span>
    <app-text-input formControlName="password" [label]="'password'" [type]="'password'"></app-text-input> 
    <!-- <app-text-input formControlName="confirmPassword" [label]="'Confirm password'" [type]="'password'"></app-text-input> -->
    <div class="form-group text-center">
      <!-- <button class="btn btn-success mr-2" type="submit">Register</button> -->
      <button class="btn btn-outline-primary mr-2 w-100" type="submit" style='height:48px'>Đăng nhập</button>
    </div>
  </form>
</div>