<div class="wrapper">
  <app-header-bar
    (onBackClicked)="onBackClicked()"
    [title]="title"
  ></app-header-bar>
  <div class="content mainCol">
    <div [ngClass]="{ 'search-group': true, searching: isSearching === true }">
      <p class="search-heading">{{ title }}</p>
      <form
        [formGroup]="filterForm"
        (ngSubmit)="searchOrder($event)"
        class="form-group"
      >
        <img class="search-icon" src="assets/svg/search.svg" alt="search" />
        <app-text-input
          formControlName="order_code"
          [label]="'Mã đơn hàng'"
          [type]="'text'"
        ></app-text-input>
        <input
          (click)="searchOrder($event)"
          class="btn-search"
          type="button"
          value="Tìm kiếm"
        />

      </form>
    </div>
    <div class="search-result-content">
      <div *ngIf="hasOrder === false" class="result-empty">
        <img class="img-empty" src="assets/img/box-empty.png" alt="box empty" />
        <p class="text-empty">Không có dữ liệu</p>
      </div>

      <div
        style="top: 140px"
        *ngIf="hasOrder === true"
        class="result-empty has-result"
      >
        <span>Mã đơn hàng:</span>
        <span class="order-code">{{orderResultSearch.codeOrder}}</span>
        <h3 class="head-title-row">Thông tin tài xế</h3>
       <div class="info-row">
        <div class="info-wrap">
          <div class="info-column">
            <div class="info-group">
              <p class="info-field">CCCD/CMND:</p>
              <p class="info-data">{{orderResultSearch.identityDriver}}</p>
            </div>
            <div class="info-group">
              <p class="info-field">Số Rơ mooc:</p>
              <p class="info-data">{{orderResultSearch.roMooc}}</p>
            </div>
            <div class="info-group">
              <p class="info-field">KL đăng kiểm:</p>
              <p class="info-data">{{orderResultSearch.weightRegistration}}</p>
            </div>
          </div>
        </div>
        <div class="info-wrap">
          <div class="info-column">
            <div class="info-group">
              <p class="info-field">Tên tài xế:</p>
              <p class="info-data">{{orderResultSearch.nameDriver}}</p>
            </div>
            <div class="info-group">
              <p class="info-field">Biển số xe:</p>
              <p class="info-data">{{orderResultSearch.vehicleNumber}}</p>
            </div>
            <div class="info-group">
              <p class="info-field">KL cho phép chở:</p>
              <p class="info-data">{{orderResultSearch.weightAllow}}</p>
            </div>
          </div>
        </div>
       </div>
        <!-- t dowm hanf -->
        <h3 class="head-title-row">Thông tin đơn hàng</h3>
        <div class="info-row">
          <div class="info-wrap">
            <div class="info-column">
              <div class="info-group">
                <p class="info-field">Sản phẩm:</p>
                <p class="info-data">{{orderResultSearch.nameProduct}}</p>
              </div>
              <div class="info-group">
                <p class="info-field">Số lượng:</p>
                <p class="info-data">{{orderResultSearch.quantity}}</p>
              </div>
              <div class="info-group">
                <p class="info-field">Lớp 1:</p>
                <p class="info-data">{{orderResultSearch.class1}}</p>
              </div>
            </div>
          </div>
          <div class="info-wrap">
            <div class="info-column">
              <div class="info-group">
                <p class="info-field">Loại bao:</p>
                <p class="info-data">{{orderResultSearch.nameTypePacket}}</p>
              </div>
              <div class="info-group">
                <p class="info-field">Tên đơn vị vận chuyển:</p>
                <p class="info-data">{{orderResultSearch.nameTransportationUnit}}</p>
              </div>
              <div class="info-group">
                <p class="info-field">Lớp 2:</p>
                <p class="info-data">{{orderResultSearch.class2}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
