.active{
  /* color:red!important; */
  background:#6593FF!important;

  border-radius: 5px;
}
.nav-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding:4px;
  color: #FFFFFF;
  margin-right: 8px;
  cursor: pointer;
}
.childMenu{
  background: #fcfcfc;
  color:blue;
}
.childMenu:hover{

  
}