.active {
  /* color:red!important; */
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}
.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 4px;
  color: #ffffff;
  margin-right: 8px;
  cursor: pointer;
}
.childMenu {
  color: #212529;
}
.childMenu:hover {
  background-color: #d2dfff;
  border-radius: 0 !important;
  color: #4A80FF;
}

.nav-link {
  padding: 0.5rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
  /* margin-top: 0; */
}
