<nav class="navbar navbar-expand-sm fixed-top p-0" style='background: var(--mainColor);height: 64px;'>
  <div class="mainCol d-flex">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class='nav-link'  [routerLink]="'/admin/dashboard'"   [routerLinkActive]="'active'" >Tổng quan</a>
        <!-- <a class="nav-link" href="/admin/dashboard">Tổng quan</a> -->
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" data-toggle="dropdown" >Báo cáo</div>
        <div class="dropdown-menu dropdown-menu-right" style='padding-right: 8px; padding-left: 8px'>
          <a class="dropdown-item nav-link childMenu" [routerLink]="'/admin/warehouse-report'" [routerLinkActive]="'active'" >Báo cáo kho</a>
          <a class="dropdown-item nav-link childMenu" [routerLink]="'/admin/consumption-report'" [routerLinkActive]="'active'" >Báo cáo tiêu thụ</a>
          <a class="dropdown-item nav-link childMenu" [routerLink]="'/admin/transportation-report'" [routerLinkActive]="'active'" >Báo cáo vận chuyển</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/warehouse-manager'"   [routerLinkActive]="'active'" >Quản lí kho</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/xx'"   [routerLinkActive]="'active'" >Vận chuyển</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/configuration'"   [routerLinkActive]="'active'" >Cấu hình</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/test'"   [routerLinkActive]="'active'" >Test</a>
      </li>
    </ul>
    <div class="nav-item dropdown">
      <div class="nav-link dropdown-toggle" data-toggle="dropdown" >LongNguyen</div>
      <div class="dropdown-menu dropdown-menu-right" style='padding-right: 8px; padding-left: 8px' >
        <a class="dropdown-item nav-link childMenu" [routerLink]="'/admin/logout'" [routerLinkActive]="'active'" >Đăng xuất</a>
      </div>
    </div>

  </div>

</nav>