<p class="title">Thống kê</p>
<div class="product-select">
  <form action="">
    <div class="form-title">
      <span>{{ productRadio.title }}</span>
    </div>
    <div class="form-group-wrap">
      <div *ngFor="let product of productRadio.data" class="form-group">
        <input
          type="radio"
          [value]="product.value"
          name="product"
          [id]="product.id"
          class="form-radio"
        />
        <label [for]="product.id">{{ product.value }}</label>
      </div>
    </div>
  </form>
</div>
<!-- 3 years nearest -->
<div class="product-select">
  <form action="">
    <div class="form-title">
      <span>{{ threeYearNearestList.title }}</span>
    </div>
    <div class="form-group-wrap">
      <div *ngFor="let product of threeYearNearestList.data" class="form-group">
        <input
          type="radio"
          [value]="product.value"
          name="product"
          [id]="product.id"
          class="form-radio"
        />
        <label [for]="product.id">{{ product.value }}</label>
      </div>
    </div>
  </form>
</div>
<!-- 12 months of year -->
<div class="product-select months-radio">
  <form action="" >
    <div class="form-title">
      <span>{{ monthList.title }}</span>
    </div>
    <div class="form-group-wrap">
      <div *ngFor="let product of monthList.data" class="form-group">
        <input
          type="radio"
          [value]="product.value"
          name="product"
          [id]="product.id"
          class="form-radio"
          (input) = "selectMonth($event)"
        />
        <label [for]="product.id">{{ product.value }}</label>
      </div>
    </div>
  </form>
</div>
<!-- select range date -->
<div class="product-select day-range">
  <div class="form-title">
    <span>Ngày</span>
  </div>
  <dx-range-selector
    id="range-selector"
    [value]="startEndDateOfMonth"
    title=""
    [selectedRangeColor]="'#3459e6'"
    [sliderMarker] ="{color: '#3459e6'}"
  >
    <dxo-margin [top]="50"></dxo-margin>
    <dxo-scale
      [startValue]="startEndDateOfMonth[0]"
      [endValue]="startEndDateOfMonth[1]"
      [minorTickInterval]="1"
      [tickInterval]="5"
    >
      <dxo-minor-tick [visible]="false"></dxo-minor-tick>
    </dxo-scale>
  </dx-range-selector>
</div>
<!-- inventory of month -->
<div class="product-select inventory-month">
  <table>
    <tr>
      <th>Sản phẩm</th>
      <th>Số lượng tồn</th>
    </tr>
    <tr>
      <td>Alumin</td>
      <td>1320.000</td>
    </tr>
    <tr>
      <td>Tổng</td>

      <td>1320.000</td>
    </tr>
  </table>
</div>
