.footer{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 16px; */
  padding-top: 14px;
  padding-bottom: 14px;
  /* margin-top: 10px; */

  color: #696F79;
}
.separate{
  border-top: 1px solid #ccc;
}
