.title{
  font-weight: 600;
  font-size: 18px;
  color: black;
  padding-top: 10px;
}
.btn-add{
  width: 48px;
  height: 48px;
  border: 1px solid #CBD3EE;
  background-color: white;
  border-radius: 3px;
}
.row{
  --bs-gutter-x: 0 !important;
}
thead th {
  text-transform: capitalize !important
}
::ng-deep .dx-datagrid-headers {
  background-color: #E7F0FF;
  color: #3459E6;
}
label{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #6B6B6B;
  }
  .tool-tip{
    width: 500px;
    height: 185px;
  }
  .elip{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #01A15E;
  }
  ::ng-deep .dx-scheduler-appointment{
    color: black !important;
    font-weight:500;
  }