.title{
  font-weight: 600;
  font-size: 18px;
  color: black;
  padding-top: 10px;
}
.btn-add{
  width: 48px;
  height: 48px;
  border: 1px solid #CBD3EE;
  background-color: white;
  border-radius: 3px;
}
.row{
  --bs-gutter-x: 0 !important;
}
thead th {
  text-transform: capitalize !important
}
::ng-deep .dx-datagrid-headers {
  background-color: #E7F0FF;
  color: #3459E6;
}