<div>
  <div class="title">Ca làm việc</div>
  <div>
    <div class="d-flex py-3">
      <button class="btn btn-primary ms-auto px-4" data-target="#addShift" (click)="showDetailShift(null)">Tạo
        ca</button>
    </div>
    <!-- ----------------------------------/popup create shift/---------------------------------  -->

    <dx-scheduler [dataSource]="appointments" [views]="['Month']" currentView="month" [(currentDate)]="currentDate"
      [height]="700" [firstDayOfWeek]="1" (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
      appointmentTooltipTemplate="tooltip-template">
      <dxi-resource fieldExpr="shift" label="shift" [dataSource]="resources">
      </dxi-resource>
      <div class="tool-tip p-3" *dxTemplate="let model of 'tooltip-template'">
        <div>
          <div class="d-flex justify-content-start align-items-center fw-bold">
            <div class="elip me-2 "></div>
            <div>{{model.appointmentData.text}}</div>
          </div>
          <div class="d-flex justify-content-start align-items-center mt-2 ">
            <img class="me-2" src="../../../../assets/svg/calendar.svg" alt="">
            {{(model.appointmentData.startDate | date: "dd/MM/yyyy")}}
          </div>
          <div class=" d-flex flex-column ">
            <ul *ngFor="let item of getDetail(model.appointmentData.idDetail)" class="detail-resource">
              <li>{{item.option}} -
                {{item.product}} -
                {{item.productRange}} -
                <br><span>{{item.wareHouse}} -
                  {{item.type}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </dx-scheduler>
    <dx-popup [width]="1024" [height]="512" [showTitle]="true" [title]="titlePopup" shadingColor='rgba(0,0,0,0.2)'
      [dragEnabled]="false" [closeOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="popupVisible"
      [toolbarItems]="[
          {
            widget: 'dxButton',
            location: 'after',
            options: {
              text: 'Đóng'
            },
            toolbar: 'bottom',
            onClick: closePop
          },
          {
            widget: 'dxButton',
            location: 'after',
            options: {
              text: 'Lưu thay đổi'
            },
            toolbar: 'bottom',
            onClick: SaveShift
          }
        ]">
      <div>
        <div class="row">
          <div class="col-6 p-3">
            <label>Ngày:</label>
            <dx-date-box [(value)]="selectDate" type="date">
            </dx-date-box>
          </div>
          <div class="col-6 p-3">
            <label>Ca:</label>
            <dx-select-box placeholder="Chọn ca" [(value)]="selectShift" displayExpr="name" valueExpr="value"
              [dataSource]="listShift"></dx-select-box>
          </div>
          <div class="p-3">
            <dx-data-grid #detailGrid id="gridContainer" [(dataSource)]="shiftDetail" [showBorders]="true">
              <dxi-column dataField="option" caption="Option">
                <dxo-lookup [dataSource]="listOptions" displayExpr="name" valueExpr="value">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="type" caption="Loại phiếu">
                <dxo-lookup [dataSource]="listType" displayExpr="name" valueExpr="value">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="product" caption="Sản phẩm">
                <dxo-lookup [dataSource]="listProduct" displayExpr="name" valueExpr="value">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="productRange" caption="Loại sản phẩm">
                <dxo-lookup [dataSource]="listProductRange" displayExpr="name" valueExpr="value">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="packaging" caption="Loại bao">
                <dxo-lookup [dataSource]="listPackaging" displayExpr="name" valueExpr="value">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="lot" caption="Lô">
                <dxo-lookup [dataSource]="listLot" displayExpr="name" valueExpr="value">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="unit" caption="Đơn vị đóng">
                <dxo-lookup [dataSource]="listUnit" displayExpr="name" valueExpr="name">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="wareHouse" caption="Kho">
                <dxo-lookup [dataSource]="listWareHouse" displayExpr="name" valueExpr="name">
                </dxo-lookup>
              </dxi-column>
              <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                [useIcons]="true">
                <dxo-popup title="Thêm mới option " [showTitle]="true" [width]="671" [height]="549" [toolbarItems]="[
              {
                widget: 'dxButton',
                location: 'after',
                options: {
                  text: 'Lưu'
                },
                toolbar: 'bottom',
                onClick: onClickSave
              },
              {
                widget: 'dxButton',
                location: 'after',
                options: {
                  text: 'Đóng'
                },
                toolbar: 'bottom',
                onClick: onClickCancel
              }
            ]">
                </dxo-popup>
                <dxo-form>
                  <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
                    <dxi-item dataField="option" caption="Option"></dxi-item>
                    <dxi-item dataField="lot" caption="Lô"></dxi-item>
                    <dxi-item dataField="type" caption="Loại phiếu"></dxi-item>
                    <dxi-item dataField="product" caption="Sản phẩm"></dxi-item>
                    <dxi-item dataField="productRange" caption="Loại sản phẩm"></dxi-item>
                    <dxi-item dataField="packaging" caption="Loại bao"></dxi-item>
                    <dxi-item dataField="unit" caption="Đơn vị đóng"></dxi-item>
                    <dxi-item dataField="wareHouse" caption="Kho"></dxi-item>
                  </dxi-item>
                </dxo-form>
              </dxo-editing>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </dx-popup>
  </div>