<div >
  <div class="title">Ca làm việc</div>
  <div >
    <dx-scheduler [dataSource]="appointments" [views]="['']" currentView="month"
      [currentDate]="currentDate" [height]="700" [firstDayOfWeek]="1"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
      >
      <dxi-resource fieldExpr="shift" label="shift" [dataSource]="resources" >
      </dxi-resource>
    </dx-scheduler>

    <dx-popup [width]="988" [height]="475" [showTitle]="true" title="Chi tiết ca làm việc" [dragEnabled]="false"
      [closeOnOutsideClick]="true" [showCloseButton]="true" container=".dx-viewport" [(visible)]="showPopup">
      <div *dxTemplate="let data of 'content'" class="d-flex flex-column">
        <div style="width:100%" class="p-4">
          <div class="row d-flex align-items-center px-3" style="background-color: #EEF1F9;height: 48px;margin-bottom: 10px;">
            <div class="col-3">
              <span class="me-3">Ca :</span><span style="font-weight: 700;">{{shiftMaster.shift}}</span>
            </div>
            <div class="col-4">
              <span class="me-3">Ngày : </span><span style="font-weight: 700;">{{shiftMaster.startDate|date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-5">
              <span class="me-3">Người Lập Phiếu :</span><span style="font-weight: 700;">{{shiftMaster.name}}</span>
            </div>
          </div>
          <div>
            <dx-data-grid
            id="gridContainer"
            [dataSource]="shiftDetail"
            [showBorders]="true"
          >

          <dxi-column dataField="option" caption="Option">
            <dxo-lookup [dataSource]="listOptions" displayExpr="name" valueExpr="value">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="type" caption="Loại">
            <dxo-lookup [dataSource]="listType" displayExpr="name" valueExpr="name">
            </dxo-lookup>
          </dxi-column>

          <dxi-column dataField="product" caption="Sản phẩm" >
            <dxo-lookup [dataSource]="listProduct" displayExpr="name" valueExpr="name">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="productRange" caption="Loại sản phẩm">
            <dxo-lookup [dataSource]="listProductRange" displayExpr="name" valueExpr="name">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="packaging" caption="Loại bao">
            <dxo-lookup [dataSource]="listPackaging" displayExpr="name" valueExpr="name">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="lot" caption="Lô">
            <dxo-lookup [dataSource]="listLot" displayExpr="name" valueExpr="name">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="unit" caption="Đơn vị đóng" >
            <dxo-lookup [dataSource]="listUnit" displayExpr="name" valueExpr="name">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="wareHouse" caption="kho" >
            <dxo-lookup [dataSource]="listWareHouse" displayExpr="name" valueExpr="name">
            </dxo-lookup>
          </dxi-column>

          <dxo-editing
          mode="popup"
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true"
          [useIcons]="true"
        >
          <dxo-popup
            title="Thêm mới option "
            [showTitle]="true"
            [width]="671"
            [height]="549"
          >
          </dxo-popup>
          <dxo-form>
            <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
              <dxi-item  dataField="option"></dxi-item>
              <dxi-item  dataField="type"></dxi-item>
              <dxi-item  dataField="lot"></dxi-item>
              <dxi-item dataField="product" caption="Sản phẩm" ></dxi-item>
              <dxi-item dataField="productRange" caption="Loại sản phẩm"></dxi-item>
              <dxi-item dataField="packaging" caption="Loại bao"></dxi-item>
              <dxi-item dataField="unit" caption="Đơn vị đóng" ></dxi-item>
              <dxi-item dataField="wareHouse" caption="kho" ></dxi-item>
            </dxi-item>
          </dxo-form>
        </dxo-editing>
        </dx-data-grid>
         </div>
        </div>

        <div class=" bg-white mt-auto ms-auto">
          <button class="btn btn-light text-dark me-3 " (click)="closePop()">Đóng</button>
          <button class="btn text-white" *ngIf='!showUpdateButton' style="background-color:#3459E6;" (click)="addShiftData()">Lưu thay đổi</button>
          <button class="btn text-white" *ngIf='showUpdateButton' style="background-color:#3459E6;" (click)="updateShiftData()">Lưu thay đổi</button>
        </div>
      </div>

    </dx-popup>
    <!-- ................../*/............... -->
  </div>
