<div class="configuration">
  <div class="configuration__content__title">
    <img src="/assets/svg/arrow_down.svg" alt="" style='position: relative;top:-2px;'>
    Mã sản phẩm
  </div>
  <div class="configuration__content__body" style='margin-top: var(--padding);'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of listProduct'>
          <td>{{item.index+1}}</td>
          <td>{{item.codeProduct}}</td>
          <td>{{item.nameProduct}}</td>
          <td style='width: 150px;text-align: center;'>
            <img src="/assets/svg/edit.svg" alt="" class='mr-3 icon-update-table' attr.data-order="{{item.index}}" (click)='clickEditProduct($event)'>
            <img src="/assets/svg/delete.svg" alt="" class='icon-update-table'  attr.data-order="{{item.index}}" (click)='clickDeleteProduct($event)'>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Delete Product -->
<dx-popup
  [(visible)]="isPopupDeleteProduct"
  [closeOnOutsideClick]="true"
  [showTitle]="true"
  title="{{objDeleteProduct.title}}"
  [height]='220'
  [width]="380"
  [resizeEnabled]="true"
>
  <div class="" style="width:94%;margin:auto">
    <div class='title-from-delete'>{{objDeleteProduct.mess}}</div>
    <form  (ngSubmit)="onSubmitDeleteProduct($event)" autocomplete="off">
      <div class='formErrMess text-danger mt-2'>{{objDeleteProduct.formErrMess}}</div>
      <div class='formSuccMess text-success mt-2'>{{objDeleteProduct.formSuccMess}}</div>
      <div class='d-flex justify-content-around mt-4' style=''>
        <div  class="btn btn-light btn-cancel " (click)='togglePopupDeleteProduct()' >Hủy</div>
        <button type="submit"  class="btn btn-primary btn-blue   mr-3" > Xóa</button>
      </div>
    </form>
  </div>
</dx-popup>
<!-- Edit Product -->
<dx-popup
  [(visible)]="isPopupEditProduct"
  [closeOnOutsideClick]="true"
  [showTitle]="true"
  title="{{objEdit.title}}"
  [height]='500'
  [width]="500"
  [resizeEnabled]="true"
>
  <div class="" style="width:94%;margin:auto">
    <form  (ngSubmit)="onSubmitEdit($event)" autocomplete="off">
      
      <div class='formErrMess text-danger mt-2'>{{objEdit.formErrMess}}</div>
      <div class='formSuccMess text-success mt-2'>{{objEdit.formSuccMess}}</div>
      <div class='d-flex justify-content-around mt-4' style=''>
        <div  class="btn btn-light btn-cancel " (click)='togglePopupEdit()' >Hủy</div>
        <button type="submit"  class="btn btn-primary btn-blue   mr-3" > Xóa</button>
      </div>
    </form>
  </div>
</dx-popup>



