<app-navbar></app-navbar>
<div class="contianer-fluid" style='min-height: var(--contentHeight);'>
  <div class="row py-1">
    <div class="d-flex">
      <div class="menu" style='width:var(--menuWidth)'>
        <ul class='menu__wrap'>
          <li *ngFor="let item of routing" class="menu__item" routerLink="{{'/admin'+item.link}}"
            routerLinkActive="active">
            {{item.name}}
          </li>
        </ul>
      </div>
      <div class="content" style='width:calc(100% - var(--menuWidth));margin-left: var(--padding);'>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
