.menu__wrap{
  list-style: none;
  padding:0;
  /* border:1px solid #ddd; */
}
.menu__item{
  height: 50px;
  color:#1a1a1a;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  background: #fff;
  line-height: 50px;
  padding-left:10px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-top:1px solid #ddd;
  cursor: pointer;
}
.menu__item:last-child{
  border-bottom:1px solid #ddd;
}
.active{
  color:#4A80FF;
  background: #DBE5FF;
}

/* ------------------------------ */
.content__title{

  background: #EAEAEA;
  height: 50px;
  color:#000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  line-height: 50px;
  padding-left:10px;

}
