<div class="page-body">
  <div>
    <div>
      <p>Lập biên bản</p>
    </div>
    <div class="d-flex justify-content-center py-4">
      <ul class="progressbar">
        <li (click)="submitStep1()" class="complete">Chọn biên bản</li>
        <li [ngClass]="step == 2 || step == 3 ? 'complete' : ''">
          Nhập thông tin
        </li>
        <li [ngClass]="step == 3 ? 'complete' : ''">Xem trước</li>
      </ul>
    </div>
  </div>

  <div>
    <!-- ----------------step1-------------------- -->
    <div *ngIf="step == 1">
      <div class="row">
        <div class="col-3 p-4 poiter" (click)="step = 2">
          <div  class="card-minutes px-1 py-4 d-flex align-item-center row row">
            <div class="d-flex justify-content-center align-items-center ">
              <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="" />
              <span>Biên bản giao nhận sản phẩm nhập kho</span>
            </div>
          </div>
          <div class="d-flex arrow-right">
              <img  class="ms-auto" src="../../../../assets/svg/arrow-right.svg" alt="" />
          </div>
        </div>
        <div class="col-3 p-4 poiter">
          <div class="card-minutes px-1 py-4 d-flex align-item-center row">
            <div class="d-flex justify-content-center align-items-center ">
              <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="" />
              <span>Biên bản giao nhận đóng bao hàng ca cho đơn vị thuê ngoài</span>
            </div>
          </div>
          <div class="d-flex arrow-right">
            <img  class="ms-auto" src="../../../../assets/svg/arrow-right.svg" alt="" />
        </div>
        </div>
        <div class="col-3 p-4 poiter">
          <div class="card-minutes px-1 py-4 d-flex align-item-center row">
            <div class="d-flex justify-content-center align-items-center ">
              <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="" />
              <span>Biên bản xác nhận khối lượng công việc bốc xếp lưu kho bốc xếp
                tiêu thụ sản phẩm hàng ca</span>
            </div>
          </div>
          <div class="d-flex arrow-right">
            <img  class="ms-auto" src="../../../../assets/svg/arrow-right.svg" alt="" />
        </div>
        </div>
        <div class="col-3 p-4 poiter">
          <div class="card-minutes px-1 py-4 d-flex align-item-center row">
            <div class="d-flex justify-content-center align-items-center ">
              <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="" />
              <span>Biên bản về việc xác nhận bao lỗi</span>
            </div>
          </div>
          <div class="d-flex arrow-right">
            <img  class="ms-auto" src="../../../../assets/svg/arrow-right.svg" alt="" />
        </div>
        </div>
        <div class="col-3 p-4 poiter">
          <div class="card-minutes px-1 py-4 d-flex align-item-center row">
            <div class="d-flex justify-content-center align-items-center ">
              <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="" />
              <span>Đề nghị nhập sản phẩm</span>
            </div>
          </div>
          <div class="d-flex arrow-right">
              <img  class="ms-auto" src="../../../../assets/svg/arrow-right.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------step2---------------- -->
    <div class="container " style="padding: 30px 120px;" *ngIf="step == 2">
      <div class="row ">
        <div class="col-6">
          <div>Ca:</div>
          <dx-select-box placeholder="Chọn ca" displayExpr="name" [(dataSource)]="listShift"
            (onValueChanged)="selectShiftFilter($event)"></dx-select-box>
        </div>
        <div class="col-6">
          <div>Ngày:</div>
          <div>
            <dx-date-box type="date" placeholder="Chọn ngày" (onValueChanged)="selectDateFilter($event)">
            </dx-date-box>
          </div>
        </div>

        <div class="py-4">
          <dx-data-grid (onSelectionChanged)="selectionChanged($event)" [columnAutoWidth]="true"
            [dataSource]="dataTableMinuteFilter" [showBorders]="true">
            <dxi-column dataField="product" caption="Tên sản phẩm"></dxi-column>
            <dxi-column dataField="type" caption="Loại sản Phẩm"></dxi-column>
            <dxi-column dataField="lot" caption="Lô"></dxi-column>
            <dxi-column dataField="seri" caption="Số seri bao"></dxi-column>
            <dxi-column dataField="quantity" caption="Số lượng"></dxi-column>
            <dxi-column dataField="user" caption="User"></dxi-column>
            <!-- <dxi-column dataField="shift" caption="ca"></dxi-column>
                        <dxi-column dataField="startDate" caption="ngay"></dxi-column> -->
            <dxo-selection mode="multiple"></dxo-selection>
          </dx-data-grid>
        </div>
      </div>

      <div>
        <span>Thông tin biên bản</span>
        <hr />
        <div class="form-check form-switch">
          <input class="form-check-input " type="checkbox" id="switchInternal" [(ngModel)]="switchInternal" />
          <label class="form-check-label ms-2 labelOption" for="switchInternal">ĐƠN VỊ THUÊ NGOÀI</label>
        </div>
        <br />
        <dx-text-area [height]="90" [(ngModel)]="dataBinding.inforMitues1" class="pt-3">
        </dx-text-area>
        <div>
          <br />
          <div>Đại diện bên giao:</div>
          <dx-select-box placeholder="Chọn đại diện bên giao" displayExpr="name" [(dataSource)]="listSender"
            (onValueChanged)="selectSender($event)">
          </dx-select-box>
          <br />
          <div *ngFor="let person of surrogateSender; let i = index">
            <div class="row p-1">
              <div class=" col-6 form-group px-2">
                <label for="sender{{ i }}">Ông/Bà:</label>
                <input type="text" class="form-control" id="sender{{ i }}" placeholder="Nhập tên"
                  [(ngModel)]="surrogateSender[i].name" />
              </div>
              <div class="col-6">
                <label>Chức Vụ:</label>
                <dx-select-box placeholder="Chọn chức vụ" displayExpr="department" [(dataSource)]="listSenderDepartment"
                  (onValueChanged)="selectsenderDepartment($event, i)">
                </dx-select-box>
                <div class="d-flex poiter">
                  <img [ngClass]="i == 0 ? 'd-none' : ''" class="ms-auto icon-remove" ng
                    (click)="removeSurrogateSender(i)" src="../../../../assets/svg/remove.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="ms-auto addSurrogate" (click)="addSurrogateSender()">
              <div>
                <i class="fas fa-plus me-2"></i><span>Thêm người đại diện</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <br />
          <div>Đại diện bên nhận:</div>
          <dx-select-box placeholder="Chọn đại diện bên nhận" displayExpr="name" [(dataSource)]="listReceiver"
            (onValueChanged)="selectReceiver($event)">
          </dx-select-box>
          <br />
          <div *ngFor="let person of surrogateReceiver; let i = index">
            <div class="row p-1">
              <div class=" col-6 form-group px-2">
                <label for="receivername1">Ông/Bà:</label>
                <input type="text" class="form-control" id="sender{{ i }}" placeholder="Nhập tên"
                  [(ngModel)]="surrogateReceiver[i].name" />
              </div>
              <div class="col-6 form-group px-2">
                <label>Chức Vụ:</label>
          
                <label>Chức Vụ:</label>
                <dx-select-box placeholder="Chọn chức vụ" displayExpr="department"
                  [(dataSource)]="listReceiverDepartment" (onValueChanged)="selectReceiverDepartment($event,i)">
                </dx-select-box>
              </div>
              <br />
            </div>
            <div class="d-flex poiter">
              <img [ngClass]="i == 0 ? 'd-none' : ''" class="ms-auto icon-remove" ng
                (click)="removeSurrogateReceiver(i)" src="../../../../assets/svg/remove.svg" alt="" />
            </div>
          </div>
          <div class="d-flex">
            <div class="ms-auto poiter addSurrogate"  (click)="addSurrogateReceiver()">
              <div>
                <i class="fas fa-plus me-2"></i><span>Thêm người đại diện</span>
              </div>
            </div>
          </div>
          <br />
          <div>
            <dx-text-area [height]="60" [(ngModel)]="dataBinding.contentMinute" class="pt-2">
            </dx-text-area>
          </div>
          <div class=" pt-4">
            <dx-text-area [height]="80" [(ngModel)]="dataBinding.verify">
            </dx-text-area>
          </div>
          <div class="d-flex align-center justify-content-center pb-5 pt-4">
            <div>
              <button (click)="step = 1" type="button" class="btn-back me-2">
                Quay lại
              </button>
              <button (click)="step = 3"   type="button" class="btn-next ms-2">
                Xem mẫu in
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ------------------------------/step3/-------------------------- -->
<div *ngIf="step == 3">
  <page-minutes
  [data]="dataSelect"
  [totalAllQuantity]="totalAllQuantity"
  [totalAllMass]="totalAllMass"
  [binding]="dataBinding"
  [surrogateReceiver]="surrogateReceiver"
  [surrogateSender]="surrogateSender"
  [switchInternal]="switchInternal"
  ></page-minutes>
</div>
<div  *ngIf="step == 3" class="d-flex align-items-center justify-content-center footer  mt-5">
      <div>
        <button (click)="step = 2"  type="button" class="btn-back me-2">Quay lại</button>
        <button type="button" class="btn-next ms-2" (click)="captureScreen()">Tải Về PDF</button>
      </div>
</div>
