<div class="page-body">
    <div>
        <div>
            <p>Lập biên bản</p>
        </div>
        <div class="d-flex justify-content-center py-4">
            <ul class="progressbar">
                <li (click)="submitStep1()" class="complete">Chọn biên bản</li>
                <li [ngClass]="(step == 2 || step ==3)?  'complete':'' ">Nhập thông tin</li>
                <li [ngClass]="step == 3? 'complete':'' ">Xem trước</li>
            </ul>
        </div>
    </div>

    <div>
        <!-- ----------------step1-------------------- -->
        <div *ngIf="step == 1">
            <div class="row">
                <div class="col-3 p-3">
                    <div (click)="submitStep2()" class="card-minutes px-3 py-4 d-flex align-item-center">
                        <div class="d-flex justify-content-center align-items-center ">
                            <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="">
                            <span>Biên bản giao nhận sản phẩm nhập kho</span>
                        </div>
                    </div>
                    <img (click)="submitStep2()" class="ms-auto mt-auto arrow-right"
                        src="../../../../assets/svg/arrow-right.svg" alt="">
                </div>
                <div class="col-3 p-3">
                    <div class="card-minutes px-3 py-4 d-flex align-item-center">
                        <div class="d-flex justify-content-center align-items-center ">
                            <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="">
                            <span>Biên bản giao nhận đóng bao hàng ca cho đơn vị thuê ngoài</span>
                        </div>
                    </div>
                    <img class="ms-auto mt-auto arrow-right" src="../../../../assets/svg/arrow-right.svg" alt="">
                </div>
                <div class="col-3 p-3">
                    <div class="card-minutes px-3 py-4 d-flex align-item-center">
                        <div class="d-flex justify-content-center align-items-center ">
                            <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="">
                            <span>Biên bản xác nhận khối lượng công việc bốc xếp lưu kho bốc xếp tiêu thụ sản phẩm hàng ca</span>
                        </div>
                    </div>
                    <img class="ms-auto mt-auto arrow-right" src="../../../../assets/svg/arrow-right.svg" alt="">
                </div>
                <div class="col-3 p-3">
                    <div class="card-minutes px-3 py-4 d-flex align-item-center">
                        <div class="d-flex justify-content-center align-items-center ">
                            <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="">
                            <span>Biên bản về việc xác nhận bao lỗi</span>
                        </div>
                    </div>
                    <img class="ms-auto mt-auto arrow-right" src="../../../../assets/svg/arrow-right.svg" alt="">
                </div>
                <div class="col-3 p-3">
                    <div class="card-minutes px-3 py-4 d-flex align-item-center">
                        <div class="d-flex justify-content-center align-items-center ">
                            <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="">
                            <span>Đề nghị nhập sản phẩm</span>
                        </div>
                    </div>
                    <img class="ms-auto mt-auto arrow-right" src="../../../../assets/svg/arrow-right.svg" alt="">
                </div>
            </div>
        </div>

        <!-- ---------------step2---------------- -->
        <div class="container px-5" *ngIf="step == 2">
            <div class="row ">
                <div class="col-6">
                    <div>Ca:</div>
                    <dx-select-box placeholder="Chọn ca" displayExpr="name" [(dataSource)]="listShift"
                        (onValueChanged)="filterShift($event)"></dx-select-box>
                </div>
                <div class="col-6">
                    <div>Ngày:</div>
                    <div>
                        <dx-date-box type="date" placeholder="Chọn ngày" (onValueChanged)="filterDate($event)">
                        </dx-date-box>
                    </div>
                </div>

                <div class="py-4">
                    <dx-data-grid (onSelectionChanged)="selectionChanged($event)" [columnAutoWidth]="true"
                        [dataSource]="dataTableMinuteFilter" [showBorders]="true">
                        <dxi-column dataField="product" caption="Tên sản phẩm"></dxi-column>
                        <dxi-column dataField="type" caption="Loại sản Phẩm"></dxi-column>
                        <dxi-column dataField="lot" caption="Lô"></dxi-column>
                        <dxi-column dataField="seri" caption="Số seri bao"></dxi-column>
                        <dxi-column dataField="quantity" caption="Số lượng"></dxi-column>
                        <dxi-column dataField="user" caption="User"></dxi-column>
                        <dxo-selection mode="multiple"></dxo-selection>
                    </dx-data-grid>
                </div>
            </div>
            <div>
                <span>Thông tin biên bản</span>
                <hr>
                <dx-text-area [height]="90" [(ngModel)]="dataBinding.inforMitues1" class="pt-3">
                </dx-text-area>
                <div>
                    <br>
                <div>Đại diện bên giao:</div>
                    <dx-select-box placeholder="Chọn đại diện bên giao" displayExpr="name" [(dataSource)]="listSender"
                         (onValueChanged)="selectSender($event)">
                    </dx-select-box>
                    <br>
                    <div class="row p-1">
                        <div class=" col-6 form-group px-2">
                            <label for="sender">Ông/Bà:</label>
                            <input type="text" class="form-control" id="sender" placeholder="Nhập tên" [(ngModel)]="dataBinding.senderName">
                        </div>
                        <div class="col-6">

                            <label>Chức Vụ:</label>
                            <dx-select-box placeholder="Chọn chức vụ" displayExpr="deparment" [(dataSource)]="listSenderDepartment"
                                (onValueChanged)="selectsenderDepartment($event)"></dx-select-box>
                        </div>
                    </div>

                </div>
                <div>
                    <br>
                <div>Đại diện bên nhận:</div>
                <dx-select-box placeholder="Chọn đại diện bên giao" displayExpr="name" [(dataSource)]="listReceiver"
               (onValueChanged)="selectReceiver($event)">
            </dx-select-box>
            <br>
                    <div class="row p-1">
                        <div class=" col-6 form-group px-2">
                            <label for="receivername1">Ông/Bà:</label>
                            <input type="text" class="form-control" id="receivername1" placeholder="Nhập tên" [(ngModel)]="dataBinding.receiverName1">
                        </div>
                        <div class="col-6">

                            <label>Chức Vụ:</label>
                            <dx-select-box placeholder="Chọn chức vụ" displayExpr="deparment" [(dataSource)]="listReceiverDeparment"
                               (onValueChanged)="selectReceiverDepartment1($event)"></dx-select-box>
                        </div>
                    <br>
                        <div class=" col-6 form-group px-2">
                            <label for="receiverName2">Ông/Bà:</label>
                            <input type="text" class="form-control" id="receiverName2" placeholder="Nhập tên" [(ngModel)]="dataBinding.receiverName2" >
                        </div>
                        <div class="col-6">

                            <label>Chức Vụ:</label>
                            <dx-select-box placeholder="Chọn chức vụ" displayExpr="deparment" [(dataSource)]="listReceiverDeparment"
                             (onValueChanged)="selectReceiverDepartment2($event)"></dx-select-box>
                        </div>
                    </div>
                    <div>
                        <dx-text-area [height]="60" [(ngModel)]="dataBinding.contentMinute" class="pt-2">
                        </dx-text-area>
                    </div>
                    <div class=" pt-4">
                        <dx-text-area [height]="60" [(ngModel)]="dataBinding.verify">
                        </dx-text-area>
                    </div>
                    <div class="d-flex align-center justify-content-center pb-5 pt-4">
                        <div>
                            <button (click)="step = 1" type="button" class="btn-back me-2">Quay lại</button>
                            <button (click)="step = 3" type="button" class="btn-next ms-2">Xem mẫu in</button>
                         </div>
                    </div>

                </div>
               
            </div>
        </div>

        <!-- ------------------------------/step3/-------------------------- -->
         
         
    </div>
</div>


<div class="card-pdfview" *ngIf="step == 3">

<div class="d-flex bg-white">
    <div class="d-flex preview justify-content-center">
        <div class="cover" style="font-family: 'Times New Roman', Times, serif">
            <div id="contentToConvert" style="padding-top:75px; padding-left: 90px; padding-right: 90px;">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column align-items-center badge-left title-header-left">
                        <span>CÔNG TY TNHH MỘT THÀNH VIÊN   </span>
                        <span> NHÔM LÂM ĐỒNG - TKV </span>
                        <span style="text-decoration-line:underline; font-weight:bold">  PHÒNG KHTT</span>
                    </div>
                    <div class="d-flex flex-column align-items-center badge-right title-header-right">
                        <span> CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</span>
                        <span >Độc lập - Tự do - Hạnh phúc</span>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center py-5 ">
                    <span class="form-name-title text-center fs-2 fw-bold"> {{dataBinding.title}} </span>
                    <span class="form-name-title text-center fs-2 fw-bold"> {{dataBinding.subtitle}}  </span>
                </div>
                <div class="d-flex flex-column content" style="line-height: 34px;">
                    <span class="fs-4 fw-bold">
                        1. Đại diện bên giao: {{dataBinding.sender}}									
                    </span>
                    <div class="row ">
                        <span class="col-7 fs-4_5 px-4"> - Ông/(Bà): {{dataBinding.senderName}}</span>
                        <span class="col-5 fs-4_5">Chức vụ: {{dataBinding.senderDepartment}}</span>
                    </div>
                    <span class="fs-4 fw-bold">
                        1. Đại diện bên nhận: {{dataBinding.receiver}}									
                    </span>
                    <div class="row ">
                        <span class="col-7 fs-4_5 px-4"> - Ông/(Bà): {{dataBinding.receiverName1}}</span>
                        <span class="col-5 fs-4_5">Chức vụ: {{dataBinding.receiverDepartment1}}</span>
                    </div>
                    <div class="row ">
                        <span class="col-7 fs-4_5 px-4"> - Ông/(Bà): {{dataBinding.receiverName2}}</span>
                        <span class="col-5 fs-4_5">Chức vụ: {{dataBinding.receiverDepartment2}}</span>
                    </div>

                    <span class="fs-4_5 pb-3">
                       {{dataBinding.contentMinute}}
                    </span>
                    
                    <table class="table-bordered" >
                        <thead>
                            <tr class="fw-blod">
                                <th class="text-center align-center text-bold" rowspan="2" scope="colgroup">TT</th>
                                <th class="text-center align-center text-bold" rowspan="2" scope="colgroup">Tên sản phẩm
                                </th>
                                <th class="text-center align-center text-bold" colspan="2" scope="colgroup">Số lượng
                                </th>
                                <th class="text-center align-center text-bold" rowspan="2" scope="colgroup">Số lô</th>
                                <th class="text-center align-center text-bold" rowspan="2" scope="colgroup">Kho</th>
                            </tr>
                            <tr>
                                <th class="text-center align-center text-bold" scope="col">SLBao</th>
                                <th class="text-center align-center text-bold" scope="col">K/luong</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let item of selectedItemKeys ; let i = index">
                                <td scope="row">{{i+1}}</td>
                                <td scope="row">{{item.product}}</td>
                                <td>{{item.quantityPac}}</td>
                                <td>{{item.quantity}}</td>
                                <td scope="row">{{item.lot}}</td>
                                <td scope="row">{{item.wareHouse}}</td>
                            </tr>
                    
                        </tbody>
                    </table>
                 
                    <span class=" pt-3 fs-4_5">
                        {{dataBinding.verify}}
                    </span>
                </div>
                <div  style="padding: 80px 0;">
                    <div class="d-flex justify-content-around pt-4">                    
                          <span style="font-size: 20px;" class=" fw-bold">ĐD BÊN GIAO</span>
                          <span style="font-size: 20px;" class=" fw-bold">ĐD BÊN NHẬN</span>
                    </div>
                    <div style="height:150px"></div>
                    <div class="d-flex justify-content-around ">
                        <div class="fw-bold d-flex mt-auto">
                            Nguyễn Đình Thảnh
                        </div>
                        <div class="d-flex flex-column ">
                            <div>Thủ kho:</div>
                            <div>DD P.KHTT:</div>
                        </div>
                        <div class="fw-bold">
                            <div>Võ Thị Hồng</div>
                            <div>Trần Quốc Tuấn</div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<div *ngIf="step == 3" style="background-color: white;height: 100px;width: 100%;"  class="d-flex align-items-center justify-content-center  mt-5">
    <div>
        <button (click)="step = 2" type="button" class="btn-back me-2">Quay lại</button>
        <button type="button" class="btn-next ms-2">Tải Về PDF</button>
     </div>
</div>

<!-- <div class="row d-flex p-2">
    <item-form class="col-4 pb-3 px-1" *ngFor="let item of cards" [item]="item" (actionEvent)="actionClick($event)">
    </item-form>
</div>
<dx-popup [(visible)]="isShowPopup" [showTitle]="true" title="Information" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [showCloseButton]="false" container=".dx-viewport">
    <div *dxTemplate="let data of 'content'">
        <dx-form id="form" [formData]="employee">
            <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
                <dxi-item>
                    <div class="form-avatar"></div>
                </dxi-item>
                <dxi-item itemType="group" [colSpan]="3">
                    <dxi-item dataField="FirstName"></dxi-item>
                    <dxi-item dataField="LastName"></dxi-item>
                    <dxi-item dataField="BirthDate" editorType="dxDateBox" [editorOptions]="{ width: '100%' }">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item dataField="Address"></dxi-item>
                    <dxi-item dataField="City"></dxi-item>
                    <dxi-item dataField="Position" editorType="dxSelectBox"
                        [editorOptions]="{ items: positions, value: '' }">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="State" editorType="dxSelectBox" [editorOptions]="{ items: states }"></dxi-item>
                    <dxi-item dataField="ZipCode"></dxi-item>
                    <dxi-item dataField="Mobile" [label]="{ text: 'Phone' }"
                        [editorOptions]="{ mask: '+1 (000) 000-0000' }">
                    </dxi-item>
                </dxi-item>
                <dxi-item dataField="Notes" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140 }">
                </dxi-item>
            </dxi-item>
        </dx-form>
    </div>
</dx-popup> -->