         <!-- -------------------------------------/table biên bản giao nhận sp/------------------------------- -->
       
         <table *ngIf="minuteType==1">
            <thead>
              <tr>
                <th class="text-center align-center " rowspan="2" scope="colgroup">TT</th>
                <th class="text-center align-center " rowspan="2" scope="colgroup">Tên sản phẩm</th>
                <th class="text-center align-center " colspan="2" scope="colgroup">Số lượng</th>
                <th class="text-center align-center " rowspan="2" scope="colgroup">Số lô</th>
                <th class="text-center align-center " rowspan="2" scope="colgroup">Kho</th>
              </tr>
              <tr>
                <th class="text-center align-center " scope="col">SL bao</th>
                <th class="text-center align-center " scope="col">K/lượng (tấn)</th>
              </tr>
            </thead>

            <tbody *ngFor="let arr of dataSelectConvert | keyvalue;">
              <tr class="text-center" *ngFor="let item of dataSelectConvert[arr.key];"
                [ngClass]="item.index==9999? 'fw-bold':''">
                <td scope="row" >{{item.product.includes("Tổng") ? "" : item.index}}</td>
                <!-- <td scope="row"></td> -->
                <td scope="row">{{item.product }}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.mass}}</td>
                <td scope="row">{{item.lot}}</td>
                <td scope="row">{{item.wareHouse}}</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="fw-bold">
                <td scope="row"></td>
                <td class="text-center" scope="row">Tổng Cộng</td>
                <td>{{totalAllQuantity}}</td>
                <td>{{totalAllMass}}</td>
                <td scope="row"></td>
                <td scope="row"></td>
              </tr>
            </tbody>
        </table>
   <!-- -------------------------------------/table biên bản Xác Nhận Bốc xếp lưu kho/------------------------------- -->
   <table *ngIf="minuteType==2">
    <thead>
      <tr>
        <th class="text-center align-center">TT</th>
        <th class="text-left   align-center " style="width:250px"><span class="ms-3">Nội Dung ThựcHiện</span></th>
        <th class="text-center align-center" style="width:120px">Tên Phương Tiện Bốc Xếp</th>
        <th class="text-center align-center" style="width:120px">Số lượng (bao/tấn)</th>
        <th class="text-center align-center" style="text-transform: none;width:120px">Chi Tiết Cung Độ (m)</th>
        <th class="text-center align-center"  style="width:100px">Kho</th>
        <th class="text-center align-center" >Ghi chú</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngIf="dataSelectTask.length > 0" style="font-weight: 700;">
        <td>I</td>
        <td colspan="6" class="text-left"> <span class="ms-3">Bốc Xếp Lưu Kho</span> </td>
      </tr>
      <tr class="text-center ms-3" *ngFor="let item of dataSelectTask; let i = index">
        <td>{{i+1}}</td>
        <td class="text-left"><span class="ms-3">{{item.task}}</span></td>
        <td>{{item.porterTool}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.distance}}</td>
        <td>{{item.wareHouse}}</td>
        <td>#</td>
      </tr>
      <tr *ngIf="dataSelectExport.length > 0" style="font-weight: 700;">
        <td>{{dataSelectTask.length > 0?"II":"I"}}</td>
        <td colspan="6" class="text-left "><span class="ms-3">Bốc Xếp Tiêu Thụ</span></td>
      </tr>
      <tr class="text-center" *ngFor="let item of dataSelectExport; let i = index">
        <td>{{i+1}}</td>
        <td class="text-left"><span class="ms-3">{{item.task}}</span></td>
        <td>{{item.porterTool}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.distance}}</td>
        <td>{{item.wareHouse}}</td>
        <td>#</td>
      </tr>
    </tbody>
  </table>
     <!-- -------------------------------------/table biên bản Bao Lỗi/------------------------------- -->
     <table *ngIf="minuteType==3">
      <thead>
        <tr>
          <th class="text-center align-center">STT</th>
          <th class="text-center align-center ">Số lô</th>
          <th class="text-center align-center">Số seri</th>
          <th class="text-center align-center" >Lỗi</th>
          <th class="text-center align-center">Loại Bao</th>
          <th class="text-center align-center" >Ghi chú</th>
        </tr>
  
      </thead>
      <tbody>
        <tr class="text-center ms-3" *ngFor="let item of dataSelect; let i = index">
          <td>{{i+1}}</td>
          <td class="text-left"><span class="ms-3">{{item.lot}}</span></td>
          <td>{{item.seri}}</td>
          <td>{{item.errorCause}}</td>
          <td>{{item.packaging}}</td>
          <td>#</td>
        </tr>
      </tbody>
    </table>
     <!-- -------------------------------------/table biên bản Đề nghị nhập sản phẩm/------------------------------- -->
     <table *ngIf="minuteType==4 ||minuteType==5">
      <thead>
        <tr>
          <th class="text-center align-center" rowspan="2"style="width:50px">STT</th>
          <th class="text-center align-center" rowspan="2"style="width:160px">Tên, quy cách, chủng loại sản phẩm</th>
          <th class="text-center align-center" rowspan="2"style="width:80px">Đơn vị tính</th>
          <th class="text-center align-center" rowspan="2"style="width:120px">Mục đích sử dụng</th>
          <th class="text-center align-center" colspan="3">Số lượng</th>
          <th class="text-center align-center" rowspan="2">Ghi chú</th>
        </tr>
        <tr>
          <th style="width:80px">Đề xuất</th>
          <th style="width:120px">P.chủ quản duyệt</th>
          <th style="width:140px">SL theo phiếu nhập</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center ms-3" *ngFor="let item of suggest; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.unit}}</td>
          <td>{{item.uses}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.quantityConfirm}}</td>
          <td>{{item.quantityBill}}</td>
          <td>#</td>
        </tr>
      </tbody>
    </table>

 

