
  <div class="row">
    <div class="col-3 p-4 poiter"  *ngFor="let item of dataTypeMinute" (click)="checkMinutes(item.id)">
      <div  class="card-minutes px-1 py-4 d-flex align-item-center row row">
        <div class="d-flex justify-content-center align-items-center ">
          <img class="me-3" src="../../../../assets/svg/IconMinutes.svg" alt="" />
          <span>{{item.title}}</span>
        </div>
      </div>
      <div class="d-flex arrow-right">
          <img  class="ms-auto" src="../../../../assets/svg/arrow-right.svg" alt="" />
      </div>
    </div>
  </div>
