<!-- <div class='title'>Cấu hình</div> -->
<div class="d-flex">
  <div class="menu" style='width:var(--menuWidth)'>
    <ul class='menu__wrap'>
      <li class="menu__item">
        Danh mục sản phẩm
      </li>
      <li class="menu__item">
        Loại bao
      </li>
      <li class="menu__item">
        Mã bao
      </li>
    </ul>
  </div>
  <div class="content" style='width:calc(100% - var(--menuWidth));margin-left: var(--padding);'>
    <div class="content__title">
      Mã sản phẩm
    </div>
    <div class="content__body" style='margin-top: var(--padding);'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td style='width: 150px;text-align: center;'>
              <img src="/assets/svg/edit.svg" alt="" class='mr-3'>
              <img src="/assets/svg/delete.svg" alt="">
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
